@import '../../../../scss/variables.scss';

.marker {
    font-size: 0.9rem;
    .icon {
        fill: $headline-color;
        color: $headline-color;
        position: absolute;
        background-size: 100% 100%;
        width: 90px;
        height: 90px;
        @media screen and (max-width: $break-mobile) {
            width: 40px;
            height: 40px;
            bottom: 0px;
            left: 3px;
        }
        opacity: 1;
        z-index: 100;
    }
    .outer {
        position: absolute;
        width: 170px;
        height: 170px;
        border-radius: 85px;
        left: -40px;
        top: -40px;
        @media screen and (max-width: $break-mobile) {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            left: -14px;
            top: 0px;
        }
        background-color: #b1b1b1d9;
        z-index: 99;
    }
    &:hover, &.selected {
        .outer {
            background-color: #e8e8e8b0;
        }
    }
    &:focus {
        outline: 0;
    }
    .icon-relation {
        position: absolute;
        color: $h-primary-font-color;
        &:hover {
            cursor: pointer;
            color: $primary-font-color;
            font-weight: 700;
        }
    }
    .up {
        top: 12px;
        left: 76px;
    }
    .left {
        top: 77px;
        left: 11px;
    }
    .down {
        bottom: 12px;
        left: 76px;
    }
    .right {
        top: 77px;
        right: 12px;
    }
    .rel-to-11 {
        top: 12px;
        left: 76px;
    }
    .rel-to-12 {
        top: 55px;
        left: 18px;
        transform: rotate(-72deg);
    }
    .rel-to-13 {
        top: 55px;
        right: 18px;
        transform: rotate(72deg);
    }
    .rel-to-14 {
        bottom: 25px;
        left: 42px;
        transform: rotate(-144deg);
    }
    .rel-to-15 {
        bottom: 25px;
        right: 42px;
        transform: rotate(144deg);
    }
}
