
<div class="container">
    <form class="search-form">
        <mat-form-field class="example-full-width">
        <input #searchElement matInput (keyup)="search($event.target.value)" autocomplete="off">
        <mat-icon class="cm-search" matSuffix></mat-icon>
        </mat-form-field>
    </form>

    <div class="results-container">
        <div class="results-wrapper" *ngIf="searchResults">
            <cm-search-result 
                *ngFor="let result of searchResults"
                [result]="result"
                (locationSelected)="openLocation($event)">
            </cm-search-result>
        </div>
    </div>
</div>