<cm-map [overlayBottomSize]="!isMobile ? timelineHeight : mobileOverlayHeight" [overlayRightSize]="!isMobile ? sidepanelWidth : '0px'" [overlayTopSize]="isMobile ? timelineHeight : '0px'" >
    <cm-map-event *ngFor="let event of events$ | async" [event]="event" [active]="filteredIds.indexOf(event.id) !== -1" [selected]="event === selectedEvent">
    </cm-map-event>
</cm-map>

<div *ngIf="!isMobile" class="sidepanel" [@sidenav]="sidepanelState">
    <button mat-button class="sidenav-control" (click)="toggleInformationPanel()" *ngIf="sidepanelState !== 'intro'">
        <mat-icon fontSet="fa" fontIcon="fa-caret-right" [@sidenavIcon]="sidepanelState"></mat-icon>
    </button>
    <div class="info-container">
        <div *ngIf="selectedEvent" class="topography-info" fxLayout="column" fxLayoutAlign="none end">
            <cm-info-event-nav *ngIf="!isPage" [nextEvent]="nextEvent" [previousEvent]="previousEvent" (eventSelected)="eventSelected($event)"></cm-info-event-nav>
            <div class="info-body" fxFill>
                <div class="info-content" [ngClass]="{'ispage': isPage}">
                    <div #infoheading class="info-heading">
                        <span  *ngIf="!isPage" class="time-info">{{ selectedEvent | infoTimestamp:translate.currentLang }}</span>
                        <div class="cite-button-wrapper">
                            <button *ngIf="sidepanelState === 'full'" mat-icon-button class="cite-button" (click)="showCite()">
                                <span class="cm-square-quote"></span>
                            </button>
                        </div>
                        <h1 [innerHtml]="translate.currentLang === 'de' ? selectedEvent.titleDe : selectedEvent.titleEn"></h1>
                    </div>
                    <div *ngIf="sidepanelState === 'short'; else fullInfo" class="intro">
                        <p>
                            <cm-dynamic-abstract [content]="translate.currentLang === 'de' ? selectedEvent.abstractDe : selectedEvent.abstractEn"></cm-dynamic-abstract>
                        </p>
                        <button mat-flat-button class="btn-read-more" color="warn" (click)="toggleInformationPanel()">{{'info.read-more' | translate | uppercase}}</button>
                    </div>
                    <ng-template #fullInfo>
                        <cm-dynamic-information [information]="information$ | async" [lang]="translate.currentLang"></cm-dynamic-information>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isMobile; else mobileTimeline">
<cm-timeline [@timeline]="sidepanelState" [events]="events$ | async" [filteredIds]="filteredIds" [selectedEvent]="selectedEvent" (startFilterChanged)="updateTimeFilter('start', $event)" (endFilterChanged)="updateTimeFilter('end', $event)" (height)="timelineHeight = $event"></cm-timeline>
</div>
<ng-template #mobileTimeline>
    <cm-timeline-mobile [events]="events$ | async" [filteredIds]="filteredIds" [selectedEvent]="selectedEvent" (startFilterChanged)="updateTimeFilter('start', $event)" (endFilterChanged)="updateTimeFilter('end', $event)" (height)="timelineHeight = $event"></cm-timeline-mobile>
</ng-template>


<div *ngIf="isMobile" class="mobile-info">
    <div #mobileshortinfo class="mobile-short-info">
        <div *ngIf="!isPage" class="event-nav-wrapper">
            <cm-info-event-nav [nextEvent]="nextEvent" [previousEvent]="previousEvent" (eventSelected)="eventSelected($event)"></cm-info-event-nav>
        </div>
        <div class="info">
            <div class="info-heading" [ngClass]="{'info-heading-mobile-ispage': isPage}">
                <span *ngIf="!isPage" class="time-info">{{ selectedEvent | infoTimestamp:translate.currentLang }}</span>
                <h1 [innerHtml]="translate.currentLang === 'de' ? selectedEvent.titleDe : selectedEvent.titleEn"></h1>
            </div>
            <div *ngIf="isPage" class="mobile-abstract">
                 <cm-dynamic-abstract [content]="translate.currentLang === 'de' ? selectedEvent.abstractDe : selectedEvent.abstractEn"></cm-dynamic-abstract>
            </div>
            <div class="intro">
                <button mat-flat-button (click)="mobileShowMore()" class="btn-read-more" color="warn">{{'info.read-more' | translate | uppercase}}</button>
            </div>
        </div>
    </div>
    <div class="placeholder-scroll" *ngIf="isMobile && sidepanelState === 'full'">
    </div>
    <div class="mobile-full-info" *ngIf="sidepanelState === 'full'" >
        <div class="info-body-mobile">
            <div #infoheading class="info-heading">
                <span *ngIf="!isPage" class="time-info">{{ selectedEvent | infoTimestamp:translate.currentLang }}</span>
                <div class="cite-button-wrapper">
                    <button *ngIf="sidepanelState === 'full'" mat-icon-button class="cite-button" (click)="showCite()">
                        <span class="cm-square-quote"></span>
                    </button>
                </div>
                <h1 [innerHtml]="translate.currentLang === 'de' ? selectedEvent.titleDe : selectedEvent.titleEn"></h1>
            </div>
            <cm-dynamic-information [information]="information$ | async" [lang]="translate.currentLang"></cm-dynamic-information>
            <button mat-icon-button class="back-to-top" (click)="mobileShowShort()">
                <span class="cm-back-to-top"></span>
            </button>
        </div>
    </div>
</div>
