
<mat-sidenav-container hasBackdrop="false" fxFlex>
    <mat-sidenav #sidenav mode="over" position="end" opened [@sidenav]="sidenavOpened">
        <button mat-button class="sidenav-control" (click)="toggleInformationPanel()">
            <mat-icon fontSet="fa" fontIcon="fa-caret-right" [@sidenavControl]="sidenavOpened"></mat-icon>
        </button>
        <div class="info-container">
            <div *ngIf="selectedEvent; else topographyStart" class="topography-info" fxLayout="column" fxLayoutAlign="none end">
                <cm-info-event-nav [nextEvent]="nextEvent" [previousEvent]="previousEvent" (eventSelected)="eventSelected($event)"></cm-info-event-nav>
                <div class="info-body" fxFill>
                    <div class="info-heading">
                        <span class="time-info">{{ selectedEvent | infoTimestamp:translate.currentLang }}</span>
                        <h1>{{translate.currentLang === 'de' ? selectedEvent.titleDe : selectedEvent.titleEn}}</h1>
                    </div>
                    <div *ngIf="!sidenavOpened; else fullInfo" class="intro">
                        <p>{{translate.currentLang === 'de' ? selectedEvent.introDe : selectedEvent.introEn}}</p>
                        <button mat-flat-button class="btn-read-more" color="warn" (click)="toggleInformationPanel()">{{'info.read-more' | translate | uppercase}}</button>
                    </div>
                    <ng-template #fullInfo>
                        <cm-dynamic-information [information]="information$ | async" [lang]="translate.currentLang"></cm-dynamic-information>
                    </ng-template>
                </div>
            </div>
            <ng-template #topographyStart>
                <div class="topography-start" fxLayout="column" fxLayoutAlign="center none" >
                    <h1>Topography</h1>
                    <p>Lorem ipsum dolor sit amet, <i>consectetur adipiscing elit</i>. Etiam nec justo mollis, imperdiet elit id, ullamcorper metus. Sed aliquam massa in bibendum ultricies. Integer rhoncus elit dui, sed viverra massa venenatis rhoncus. Nunc mauris purus, tempus a faucibus nec, tincidunt quis nisi. Nam accumsan mollis pretium. Duis non accumsan velit. Praesent venenatis nisi in pretium ullamcorper. Vestibulum efficitur lobortis sem.
                    </p>
                </div>
            </ng-template>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <cm-map>
            <cm-map-event *ngFor="let event of events$ | async" [event]="event" [active]="filteredIds.indexOf(event.id) !== -1" [selected]="event === selectedEvent">
            </cm-map-event>
        </cm-map>
        <cm-timeline [@timeline]="sidenavOpened" [events]="events$ | async" [filteredIds]="filteredIds" (startFilterChanged)="updateTimeFilter('start', $event)" (endFilterChanged)="updateTimeFilter('end', $event)"></cm-timeline>
    </mat-sidenav-content>
</mat-sidenav-container>

