<h2 *ngIf="data.titleDe">{{ lang === 'de' ? data.titleDe : data.titleEn }}</h2>

<div *ngFor="let block of blocks">
    <div [ngSwitch]="block.type">
        <cm-info-text *ngSwitchCase="'text'" [data]="block.data"></cm-info-text>
        <cm-info-gallery *ngSwitchCase="'gallery'" [data]="block.data" [lang]="lang"></cm-info-gallery>
        <cm-info-image *ngSwitchCase="'image'" [data]="block.data" [lang]="lang"></cm-info-image>
        <cm-info-video *ngSwitchCase="'video'" [data]="block.data" [lang]="lang"></cm-info-video>
        <cm-info-audio *ngSwitchCase="'audio'" [data]="block.data" [lang]="lang"></cm-info-audio>
    </div>
</div>
