@import '../../../../scss/variables.scss';

:host {
    height: $header-height;
    @media screen and (max-width: $break-mobile) {
        height: $header-height-mobile;
    }
    background-color: $header-color;
    font-family: $title-regular-font;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 20;
    a {
        color: #fff;
        text-decoration: none !important;
    }
}


.nav-sub {
    margin-left: 16px;
    @media screen and (max-width: $break-mobile) {
        margin-left: 5px;
    }
    button {
        color: $active-font-color;
        mat-icon {
            font-size: 1.4rem;
            @media screen and (max-width: $break-mobile) {
                font-size: 1.2rem;
            }
            margin-top: -6px;
        }
    }
}

.lang-selector {
    margin-left: 22px;
}

.nav-lang {
    text-align: right;
    font-size: $small-font-size;
    margin-right: 12px;
    @media screen and (max-width: $break-mobile) {
        margin-right: 5px;
    }
    a {
        line-height: $header-height;
        @media screen and (max-width: $break-mobile) {
            line-height: $header-height-mobile;
        }
        padding: 0px 6px;
        border: solid 1px $header-color;
        margin-right: 5px;
        &.active, &:hover {
            color: #fff;
            border: solid 1px #fff;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.logo {
    cursor: pointer;
    height: 2.2rem;
    @media screen and (max-width: $break-mobile) {
        height: 1.9rem;
    }
    &:focus {
        outline: 0;
    }
}

.search-button {
    margin-left: 2px;
}