*.pyc
.directory
backend/tiles/
backend/tiles_bck/
nix/nixops/development/keys
nix/nixops/staging/keys
nix/nixops/production/keys
mapping/**/*.tif
mapping/**/*.cst
mapping/**/*.shp
mapping/**/*.dbf
mapping/**/*.prj
mapping/**/*.shx
.#*
