*.pyc
.directory
backend/tiles/1
backend/tiles/2
backend/tiles/3
backend/tiles/4
backend/tiles/5
backend/tiles/6
backend/tiles/7
backend/tiles/8
backend/tiles/9
backend/tiles/10
backend/tiles/11
backend/tiles/12
backend/tiles/13
backend/tiles/14
backend/tiles/15
backend/tiles/16
backend/tiles/17
backend/tiles/18
backend/tiles/tiles.tar.gz
backend/tiles/googlemaps.html
backend/tiles/leaflet.html
backend/tiles/openlayers.html
backend/tiles/tilemapresource.xml
nix/nixops/development/keys
nix/nixops/staging/keys
nix/nixops/production/keys
mapping/**/*.tif
mapping/**/*.cst
mapping/**/*.shp
mapping/**/*.dbf
mapping/**/*.prj
mapping/**/*.shx
mapping/Buildings/input-data
.#*
