@import '../../../../scss/variables.scss';

:host {
    display: block;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    overflow: hidden;
    @media screen and (max-width: $break-mobile) {
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        position: fixed;
    }
}

.info-container {
    color: $primary-font-color;
    height: 100%;
    padding-top: $header-height;
}

cm-info-event-nav {
    position: absolute;
    right: 0px;
}

cm-sidepanel {
    width: 470px;
    &.is-full {
        width: 70%;
    }
}


.row, .col {
    height: 100%;
}

.ispage {
    margin-top: 3.3rem;
}

cm-map {
    height: calc(100% - #{$header-height});
    top: $header-height;
    width: 100%;
    position: fixed;
    @media screen and (max-width: $break-mobile) {
        display: block;
        height: calc(100% - #{$header-height-mobile});
        top: $header-height-mobile;
    }
}

.map-container {
    padding: 0px;
    z-index: 10;
}

.padding-bottom {
    color: #fff;
}

.start-container {
    .info-content {
        padding-bottom: 0px;
    }
    color: $primary-font-color;
    height: 100%;
    display: flex;
    align-items: center;
}

.info-content {
    padding-bottom: 120px;
    width: 70%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.info-heading {
    margin-bottom: 50px;
    .time-info {
        color: $secondary-font-color;
        font-size: $small-font-size;
        font-family: $title-semibold-font;
    }
    h1 {
        margin: 0px;
        margin-bottom: 40px;
        font-family: $title-bold-font;
        font-size: $h-primary-font-size;
    }
}

.start-info-heading {
    margin-bottom: 50px;
    font-family: $title-bold-font;
    font-size: $h-primary-font-size;
}
.start-info-heading-mobile {
    font-family: $title-bold-font;
    font-size: $h-primary-font-size;
}

.topography-start {
    padding: 0px 50px;
    height: 100%;
    h1 {
        margin: 0px;
        margin-bottom: 10px;
        font-family: $title-bold-font;
        font-size: $h-primary-font-size;
    }
}

.mobile-short-info {
    position: fixed;
    width: 100%;
    background: white;
    box-sizing: border-box;
    overflow: hidden;
    bottom: 0px;
    z-index: 10;
    box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
    -webkit-box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
    .btn-read-more {
        width: 100%;
    }
    .info-heading {
        margin-bottom: 0px;
        h1 {
            margin-bottom: 15px;
        }
    }
    .info {
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .event-nav-wrapper {
        width: 100%;
        text-align: center;
    }
    .btn-read-more {
        margin-top: 0px !important;
    }
    p {
        margin-block-end: 15px;
        margin-block-start: 15px;
    }
    cm-info-event-nav {
        position: initial;
        margin-top: 10px;
        margin-bottom: 5px;
        font-family: $title-regular-font;
        color: $text-color;
        height: initial;
    }
    h1 {
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-bottom: 18px;
    }
    .mobile-abstract {
        margin-top: 18px;
    }
}

.mobile-info {
    z-index: 15;
    width: 100%;
}



