<!-- <cm-map [overlayBottomSize]="!isMobile ? timelineHeight : mobileOverlayHeight" [overlayRightSize]="!isMobile ? sidepanelWidth : '0px'" [overlayTopSize]="isMobile ? timelineHeight : '0px'" > -->
<!-- <cm-map-event *ngFor="let event of events" [event]="event" [lang]="translate.currentLang" [active]="filteredIds.indexOf(event.id) !== -1" [selected]="event === selectedEvent"> -->
<!-- </cm-map-event> -->
<!-- </cm-map> -->

<div *ngIf="!isMobile" class="sidepanel" [@sidenav]="sidepanelState">
    <button mat-button class="sidenav-control" (click)="toggleInformationPanel()" *ngIf="sidepanelState !== 'intro'">
        <mat-icon fontSet="fa" fontIcon="fa-caret-right" [@sidenavIcon]="sidepanelState"></mat-icon>
    </button>
    <div class="info-container">
        <div *ngIf="selectedEvent" class="topography-info" fxLayout="column" fxLayoutAlign="none end">
            <div *ngIf="sidepanelState === 'full'" class="title-header" fxLayout="row" fxLayoutAlign=" center" [@titleHeader]="showTitleHeader">
                <button class="cite-button" [title]="translate.currentLang === 'de' ? 'Metadaten' : 'Metadata'" mat-icon-button (click)="showCite()">
                    <span class="cm-square-quote-alt"></span>
                </button>
                <h1 [innerHtml]="translate.currentLang === 'de' ? selectedEvent.titleDe : selectedEvent.titleEn"></h1>
            </div>
            <cm-info-event-nav [isMobile]="false" *ngIf="!isPage; else upbutton" [nextEvent]="nextEvent" [previousEvent]="previousEvent" (eventSelected)="eventSelected($event)"></cm-info-event-nav>
            <ng-template #upbutton>
                <div *ngIf="sidepanelState === 'full'" class="up-header" [@titleHeader]="showTitleHeader">
                    <button mat-icon-button class="back-to-top" (click)="scrollup()">
                        <span class="cm-back-to-top"></span>
                    </button>
                </div>
            </ng-template>
            <div #fullinfo class="info-body" [ngClass]="{'ispage': isPage}" fxFill (scroll)="onScroll()">
                <div class="info-content">
                    <div #infoheading class="info-heading">
                        <span  *ngIf="!isPage" class="time-info">{{ selectedEvent | infoTimestamp:translate.currentLang }}</span>
                        <div class="cite-button-wrapper">
                            <button *ngIf="sidepanelState === 'full'" [title]="translate.currentLang === 'de' ? 'Metadaten' : 'Metadata'" mat-icon-button class="cite-button" (click)="showCite()">
                                <span class="cm-square-quote-alt"></span>
                            </button>
                        </div>
                        <h1 [innerHtml]="translate.currentLang === 'de' ? selectedEvent.titleDe : selectedEvent.titleEn"></h1>
                    </div>
                    <div *ngIf="sidepanelState === 'short'; else fullInfo" class="intro">
                        <cm-information [content]="translate.currentLang === 'de' ? selectedEvent.abstractDe : selectedEvent.abstractEn" [lang]="translate.currentLang"></cm-information>
                        <button mat-flat-button class="btn-read-more" color="warn" (click)="toggleInformationPanel()">{{'info.read-more' | translate | uppercase}}</button>
                    </div>
                    <ng-template #fullInfo>
                        <div *ngIf="information">
                            <cm-information [content]="translate.currentLang === 'de' ? information.contentDe : information.contentEn" [lang]="translate.currentLang" [media]="information.media"></cm-information>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<!--

<div *ngIf="!isMobile; else mobileTimeline">
<cm-timeline [@timeline]="sidepanelState" [events]="events" [filteredIds]="filteredIds" [selectedEvent]="selectedEvent" (startFilterChanged)="updateTimeFilter('start', $event)" (endFilterChanged)="updateTimeFilter('end', $event)" (height)="timelineHeight = $event"></cm-timeline>
</div>
<ng-template #mobileTimeline>
    <cm-timeline-mobile [events]="events" [filteredIds]="filteredIds" [selectedEvent]="selectedEvent" (startFilterChanged)="updateTimeFilter('start', $event)" (endFilterChanged)="updateTimeFilter('end', $event)" (height)="timelineHeight = $event"></cm-timeline-mobile>
</ng-template>


<div #mobileshortinfo *ngIf="isMobile" class="mobile-short-info">
    <div *ngIf="!isPage" class="event-nav-wrapper">
        <cm-info-event-nav [isMobile]="true" [nextEvent]="nextEvent" [previousEvent]="previousEvent" (eventSelected)="eventSelected($event)"></cm-info-event-nav>
    </div>
    <div class="info">
        <div *ngIf="!isPage" class="info-heading" [ngClass]="{'info-heading-mobile-ispage': isPage}">
            <span class="time-info">{{ selectedEvent | infoTimestamp:translate.currentLang }}</span>
            <h1 [innerHtml]="translate.currentLang === 'de' ? selectedEvent.titleDe : selectedEvent.titleEn"></h1>
        </div>
        <div *ngIf="isPage" class="mobile-abstract">
                <div [innerHTML]="translate.currentLang === 'de' ? mobileAbstractDe : mobileAbstractEn" [lang]="translate.currentLang"></div>
        </div>
        <div class="intro">
            <button mat-flat-button (click)="mobileShowMore()" class="btn-read-more" color="warn">{{'info.read-more' | translate | uppercase}}</button>
        </div>
    </div>
</div>

<div *ngIf="isMobile && sidepanelState === 'full'" class="mobile-info">
    <div class="placeholder-scroll">
    </div>
    <div class="mobile-full-info">
        <div class="info-body-mobile">
            <div class="title-header-mobile" fxLayout="row" fxLayoutAlign=" center" [@titleHeader]="showTitleHeaderMobile">
                <button *ngIf="sidepanelState === 'full'" mat-icon-button class="cite-button" (click)="showCite()">
                    <span class="cm-square-quote-alt"></span>
                </button>
                <h1 [innerHtml]="translate.currentLang === 'de' ? selectedEvent.titleDe : selectedEvent.titleEn"></h1>
                <button mat-icon-button class="back-to-top-mobile" (click)="mobileShowShort()">
                    <span class="cm-back-to-top"></span>
                </button>
            </div>
            <div #infoheading class="info-heading">
                <span *ngIf="!isPage" class="time-info">{{ selectedEvent | infoTimestamp:translate.currentLang }}</span>
                <div class="cite-button-wrapper">
                    <button *ngIf="sidepanelState === 'full'" mat-icon-button class="cite-button" (click)="showCite()">
                        <span class="cm-square-quote-alt"></span>
                    </button>
                </div>
                <h1 [innerHtml]="translate.currentLang === 'de' ? selectedEvent.titleDe : selectedEvent.titleEn"></h1>
            </div>
            <div class="info-container-mobile" *ngIf="information$ | async as information">
                <cm-information [content]="translate.currentLang === 'de' ? information.contentDe : information.contentEn" [lang]="translate.currentLang" [media]="information.media" (galleryOpened)="galleryOpened()" (galleryClosed)="galleryClosed()"></cm-information>
                <div class="padding-bottom">
                    <br><br><br>---
                </div>
            </div>
        </div>
    </div>
</div>

-->
