@import '../../../../scss/_variables.scss';

:host {
    display: block;
    position: absolute;
    overflow: hidden;
    z-index: 9;
    bottom: 0px;
    height: 0px;
    width: calc(100vw - 470px);
    @media screen and (max-width: $break-mobile) {
        bottom: auto;
        width: 100% !important;
        top: $header-height-mobile;
        position: fixed;
        &.open {
            z-index: 12;
        }
    }
    background: $map-overlay-background-color;
    color: white;
    box-sizing: border-box;
    padding: 0px 24px;
    @media screen and (max-width: $break-mobile) {
        padding: 0px 0px;
    }
    font-family: $title-regular-font;
    .panel-control {
        position: absolute;
        top: 0px;
        @media screen and (max-width: $break-mobile) {
            bottom: 0px;
            top: auto;
            transform: scaleY(-1);
        }
        left: 50%;
        min-width: 40px;
        height: 16px;
        border-radius: 0px;
        line-height: 15px;
        margin-left: -28px;
        mat-icon {
            font-size: 19px;
            height: 15px;
            line-height: 15px;
            margin-top: -4px;
        }
    }
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    .title {
        padding: 6px 0px;
        display: inline-block;
        @media screen and (max-width: $break-mobile) {
            padding: 6px 14px;
        }
    }
    width: 100%;
    overflow: hidden;
    
    font-family: $title-regular-font;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.hr-container {
    top: 38px;
    @media screen and (max-width: $break-mobile) {
        top: 35px;
    }
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    hr {
        display: inline-block;
        color: $secondary-font-color;
    }
    .hr-gap {
        width: 78px;
    }
    
    .hr-grow {
        flex-grow: 1;
    }
    
    .hr-middle {
        max-width: 97px;
        width: calc(30% - 78px);
    }
}


.mediation-label {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: $secondary-font-color;
    font-size: $small2-font-size;
    line-height: $small-font-size;
    font-family: $title-regular-font;
    .response {
        font-family: $title-semibold-font;
    }
    @media screen and (max-width: $break-mobile) {
        margin-top: 0px;
    }
}

.mediation-container {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
    @media screen and (max-width: $break-mobile) {
        margin-top: 0px;
        .mediation-label {
            white-space: normal;
            width: 80px;
            .demand {
                display: none;
            }
        }
    }
}



.mediation {
    text-align: center;
    width: 30%;
    max-width: 175px;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    &:hover {
        cursor: pointer;
        .mediation-icon, .mediation-label {
            color: #ffffff;
        }
        .icon {
            opacity: 1;
        }
    }
    &:focus {
        outline: 0;
    }
}

.selected {
    .mediation-icon, .mediation-label {
        color: #ffffff;
        cursor: pointer;
    }
    .icon {
        opacity: 1;
    }
}

.icon-wrapper {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 10px;
  @media screen and (max-width: $break-mobile) {
    left: 5px;
  }
}

.mediation-examininggaze {
    margin-right: 70px;
    margin-left: 70px;
}

.mediation-icon {
    font-size: 56px;
    color: $secondary-font-color;

}

.icon-background {
    width: 78px;
    @media screen and (max-width: $break-mobile) {
        width: 68px;
    }
    height: 50px;
    display: inline-block;
    position: relative;
}

.icon {
    width: 56px;
    height: 56px;
    opacity: 0.5;
    @media screen and (max-width: $break-mobile) {
        width: 48px;
        height: 48px;
    }
}

.none-selected:hover {
    fill: $main-color;
    color: $main-color;
}
