@import './../../../../scss/_variables.scss';

:host {
    display: block;
    padding: 0.5rem 2rem;
    @media screen and (max-width: $break-mobile) {
        padding: 24px 0px;
    }
    font-family: $text-italics-font;
    color: $primary-font-color;
    ::ng-deep em, ::ng-deep i {
	      font-family: $text-regular-font;
        font-style: normal;
    }
    ::ng-deep .mat-dialog-container {
        background: #fff;

    }
}
