/* You can add global styles to this file, and also import other style files */

@import "../node_modules/mapbox-gl/dist/mapbox-gl.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

@import "./scss/material.scss";
@import './scss/fonts.scss';
@import './scss/variables.scss';
@import './scss/icons.scss';

/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles
 */

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

html, body {
	  font-family: $text-regular-font;
    i, em {
	      font-family: $text-italics-font;
        font-style: normal;
    }
    color: $primary-font-color;
    margin: 0px;
    font-size: $base-font-size;
    @media screen and (max-width: $break-mobile) {
        font-size: $mobile-base-font-size;
    }
    line-height: $base-line-height;
}

.mat-dialog-container {
  background: #fff;
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
    body {
        font-weight: lighter !important;
    }
}

/**
 *
 */

.hide {
    opacity: 0;
}

.noscroll {
    overflow: hidden !important;
    @media screen and (max-width: $break-mobile) {
        position: fixed !important;
    }
}

/* unvisited link */
a:link {
    color: $accent-color;
}

/* visited link */
a:visited {
    color: $accent-color;
}

/* mouse over link */
a:hover {
    color: $accent-color;
}

/* selected link */
a:active {
    color: $accent-color;
}

.highlight {
    color: $accent-color;
    text-decoration: underline $accent-color; 
}
.result-row:hover .highlight {
    color: #fff !important;
    text-decoration: underline #fff !important; 
}

.mat-form-field-flex {
    background: $background-light-color;
}
.mat-form-field-infix {
    border-top: none;
}
.mat-form-field-underline {
    display: none;
}
.mat-dialog-container {
    border-radius: 0px !important;
    @media screen and (max-width: $break-mobile) {
        padding: 24px 14px !important;
    }
}

.mat-form-field-label {
    color: $clickable-color !important;
    font-family: Source Serif Pro Regular !important;
    padding-left: 15px;
    font-size: 1rem !important;
}

// fix button focus on dialog close
button.mat-icon-button
{
    &.cdk-program-focused
    {
        .mat-button-focus-overlay
        {
            opacity: 0;
        }
    }
}

cm-search {
    .mat-form-field-wrapper {
        padding-bottom: 0px !important;
    }
}

.cdk-global-overlay-wrapper {
    align-items: start !important;
    padding-top: 5vh !important;
}

.mat-button-wrapper > span {
    position: relative;
}

cm-header {
    .mat-button-wrapper {
        width: 28px;
        height: 28px;
        flex-shrink: 0;
        top: 2px;
        position: relative;
        mat-icon {
            width: 28px;
            height: 28px;
            margin-top: 0px !important;
        }
    }
}

.mat-menu-panel {
    width: 7rem;
    background: $map-overlay-background-color;
    margin-top: 13px;
    @media screen and (max-width: $break-mobile) {
        margin-top: 2px;
    }
    margin-left: -24px;
    border-radius: 0px !important;
    .mat-menu-item {
        font-size: $small-font-size;   
        height: 56px;
        padding: 0 32px;
        &:hover {
            background: #8c8c8c;
        }
    }
    min-width: 240px !important;
}


.map-attrib {
    border-radius: 3px;
    .map-attrib-inner {
        padding: 5px;
        font-size: $small2-font-size;
        font-family: $caption-regular-font;
        color: $text-color;
        line-height: 24px;
        margin-left: 37px;
        border-radius: 4px;
        a {
            height: 24px;
            overflow: hidden;
            display: block;
            color: $text-color;
            @media screen and (max-width: $break-mobile) {  
                height: initial;
                max-height: 72px;
                overflow: hidden;
            }
        }
        a:hover {
            color: $accent-color;
        }
    }
    &.isOpen .mat-mini-fab {
        background-color: $accent-color;
    }
    .mat-mini-fab {
        float: left;
        background-color: $clickable-color;
        .mat-button-wrapper {
            line-height: 1.3rem;
            margin-top: -5px;
            @media screen and (max-width: $break-mobile) {  
                margin-top: -4px;
            }
            font-size: 1.3rem;
        }
    }
    .map-attrib-inner {
        background-color: $background-light-color;
        opacity: 0.9;
    }
    @media screen and (max-width: $break-mobile) {  
        max-width: calc(100vw - 85px);
    }
}

// ngx-gallery

.ngx-gallery-preview-img {
    max-width: 95% !important;
    max-height: 95% !important;
}

.ngx-gallery-preview-text {
    color: $primary-font-color !important;
    z-index: 999 !important;
    font-family: $caption-regular-font !important;
    i, em {
        font-family: $caption-italics-font !important;
    }
    font-size: $small-font-size !important;
    line-height: $small-line-height !important;
    background: $text-block-background-color !important;
}

.ngx-gallery-preview-text-content {
    max-width: 1000px;
    margin: auto;
    cm-information .wrapper p {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}

ngx-gallery-thumbnails .ngx-gallery-arrow-left {
    left: -60px !important;
    .ngx-gallery-icon-content {
        color: #8c8c8c !important;
        font-size: 30px !important;
    }
}

ngx-gallery-thumbnails .ngx-gallery-arrow-right {
    right: -60px !important;
    .ngx-gallery-icon-content {
        color: #8c8c8c !important;
        font-size: 30px !important;
    }
}

ngx-gallery-preview{
    ngx-gallery-arrows {
        font-size: 40px;
    }
    .cm-caption {
        max-height: 6rem;
        overflow-y: auto;
        display: block;
        p {
            margin: 0px;
        }
    }
    #gallery-video {
        width: 100%;
        height: 100%;
    }
}

.mobile-info ngx-gallery-arrows {
    display: none;
}

cm-image ngx-gallery-arrows {
    display: none !important;
}

.ngx-gallery-arrow {
    font-size: 50px;
}

.ngx-gallery-close {
    font-size: 30px;
    background-color: #4d4d4d;
}

ngx-gallery-thumbnail {
    .cm-square-zoom {
        top: 1px;
        right: 1px;
        position: absolute;
        font-size: 1.1em;
        width: 18px;
        height: 18px;
        @media screen and (max-width: $break-mobile) {
            font-size: 1.2em;
        }
        color: $accent-color;
        background-color: #fff;
    }

    .cm-square-zoom:before {
        display: inline-block;
        left: -2px;
        top: -2px;
        position: relative;
    }
}

.ngx-gallery-icon-content {
  display: block;
}

.ngx-gallery-icon {
    color: white;
    position: absolute;
    z-index: 2000;
    display: inline-block;

    .ngx-gallery-icon-content {
        display: block;
    }
}

.btn-read-more {
    width: 100%;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    padding: 6px 16px !important;
    border-radius: 0px !important;
  }

.cite-button {
    width: $base-font-size;
    min-width: $base-font-size;
    height: $base-font-size;
    line-height: $base-font-size;
    min-height: $base-font-size;
    vertical-align: top;
    font-size: $base-font-size;
    padding: 0 0;
    margin: 0px;
    color: $accent-color;
    position: absolute;
    left: -40px;
    top: 4px;
    border-radius: 0px;
}


.cite-button-wrapper {
    position: relative;
    width: 0px;
    height: 0px;
    top: 1px;
    @media screen and (max-width: $break-mobile) {
        top: -1px;
    }
}

.up-header {
    height: $header-height;
    position: absolute;
    right: 28px;
}

.title-header {
    height: $header-height;
    h2 {
        font-size: 0.9rem;
        margin: 0px;
        margin-left: 10px;
    }
    .cite-button {
        left: 0px;
        top: -2px;
        position: relative;
    }
    position: absolute;
    left: 25px;
}


.info-heading-mobile-ispage {
    margin-top: 15px;
}

$back-to-top-size: 26px;

.back-to-top {
    top: 12px;
    width: $back-to-top-size;
    min-width: $back-to-top-size;
    height: $back-to-top-size;
    line-height: $back-to-top-size;
    min-height: $back-to-top-size;
    vertical-align: top;
    font-size: $back-to-top-size;
    padding: 0 0;
    margin: 0px;
    color: $accent-color;
    border-radius: 0px;
    .cm-back-to-top {
        background: #ffffff;
        border-radius: 16px;
    }
}

.btn-read-more {
    &:hover {
      background: #a67481;
      opacity: 0.9;
    }
  }
