$icomoon-font-family: "Campus-Medius-Icons" !default;
$icomoon-font-path: "./assets/fonts" !default;

$cm-audio-path1: "\e900";
$cm-audio-path2: "\e901";
$cm-audio-path3: "\e902";
$cm-audio-path4: "\e903";
$cm-audio-path5: "\e904";
$cm-audio-path6: "\e905";
$cm-more-path1: "\e906";
$cm-more-path2: "\e907";
$cm-close-path1: "\e908";
$cm-close-path2: "\e909";
$cm-image-path1: "\e90a";
$cm-image-path2: "\e90b";
$cm-video-path1: "\e90c";
$cm-video-path2: "\e90d";
$cm-zoom-path1: "\e90e";
$cm-zoom-path2: "\e90f";
$cm-zoom-path3: "\e910";

