<div class="header" (click)="toggle()">
    <button mat-flat-button color="warn" class="panel-control">
        <mat-icon fontSet="fa" fontIcon="fa-caret-down" [@panelControl]="opened"></mat-icon>
    </button>
    <span class="title">{{'mediations.header' | translate }}</span>
</div>

<div class="mediation-container" [ngClass]="{'short': sidepanelState == 'full'}">
    <div class="hr-container">
        <hr class="hr-grow">
        <span class="hr-gap"></span>
        <hr class="hr-middle">
        <span class="hr-gap"></span>
        <hr class="hr-middle">
        <span class="hr-gap"></span>
        <hr class="hr-grow">
    </div>
    <div class="mediation"
         (mouseenter)="selectMediation('1')"
         (mouseleave)="selectMediation(null)"
         [ngClass]="{'selected': selectedMediation && selectedMediation.id === '1' }"
         [routerLink]="['/topology/mediations/1/mediators/0']"
         queryParamsHandling="merge">
        <div class="icon-background">
            <div class="icon-wrapper"><svg viewBox="0 0 150 150" class="icon none-selected cm-topology-icon"><use xlink:href="./assets/icons/cm-icons-mediations.svg#mediator-1"></use></svg></div>
            <div class="icon-wrapper"><svg *ngIf="selectedMediator && ['0','1','2','3','4','5'].includes(selectedMediator.id)" viewBox="0 0 150 150" class="icon selected cm-topology-icon"><use attr.xlink:href="./assets/icons/cm-icons-mediations.svg#mediator-{{selectedMediator.id}}"></use></svg></div>
        </div>
        <div class="mediation-label">
            <div class="demand">{{'mediations.sovereignSignsDemand' | translate }}</div>
            <div class="response">{{'mediations.sovereignSignsResponse' | translate }}</div>
        </div>
    </div>
    <div class="mediation"
         (mouseenter)="selectMediation('2')"
         (mouseleave)="selectMediation(null)"
         [ngClass]="{'selected': selectedMediation && selectedMediation.id === '2' }"
         [routerLink]="['/topology/mediations/2/mediators/6']"
         queryParamsHandling="merge">
        <div class="icon-background">
            <div class="icon-wrapper"><svg viewBox="0 0 150 150" class="icon none-selected cm-topology-icon"><use xlink:href="./assets/icons/cm-icons-mediations.svg#mediator-6"></use></svg></div>
            <div class="icon-wrapper"><svg *ngIf="selectedMediator && ['6','7','8','9','10'].includes(selectedMediator.id)" viewBox="0 0 150 150" class="icon selected cm-topology-icon"><use attr.xlink:href="./assets/icons/cm-icons-mediations.svg#mediator-{{selectedMediator.id}}"></use></svg></div>
        </div>
        <div class="mediation-label">
            <div class="demand">{{'mediations.examiningGazesDemand' | translate }}</div>
            <div class="response">{{'mediations.examiningGazesResponse' | translate }}</div>
        </div>
    </div>
    <div class="mediation"
         (mouseenter)="selectMediation('3')"
         (mouseleave)="selectMediation(null)"
         [ngClass]="{'selected': selectedMediation && selectedMediation.id === '3' }"
         [routerLink]="['/topology/mediations/3/mediators/11']"
         queryParamsHandling="merge">
        <div class="icon-background">
            <div class="icon-wrapper"><svg viewBox="0 0 150 150" class="icon none-selected cm-topology-icon"><use xlink:href="./assets/icons/cm-icons-mediations.svg#mediator-11"></use></svg></div>
            <div class="icon-wrapper"><svg *ngIf="selectedMediator && ['11','12','13','14','15'].includes(selectedMediator.id)" viewBox="0 0 150 150" class="icon selected cm-topology-icon"><use attr.xlink:href="./assets/icons/cm-icons-mediations.svg#mediator-{{selectedMediator.id}}"></use></svg></div>
        </div>
        <div class="mediation-label">
            <div class="demand">{{'mediations.governedTransmissionsDemand' | translate }}</div>
            <div class="response">{{'mediations.governedTransmissionsResponse' | translate }}</div>
        </div>
    </div>
</div>

