@import './variables.scss';

@font-face {
  font-family: 'cm-icons';
  src:  url('~/assets/fonts/cm-icons.eot?4wcf6s');
  src:  url('~/assets/fonts/cm-icons.eot?4wcf6s#iefix') format('embedded-opentype'),
    url('~/assets/fonts/cm-icons.ttf?4wcf6s') format('truetype'),
    url('~/assets/fonts/cm-icons.woff?4wcf6s') format('woff'),
    url('~/assets/fonts/cm-icons.svg?4wcf6s#cm-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cm-"], [class*=" cm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cm-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cm-info .path1:before {
  content: "\e927";
  color: rgb(255, 255, 255);
}
.cm-info .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cm-expand:before {
  content: "\e92f";
}
.cm-image:before {
  content: "\e924";
}
.cm-page:before {
  content: "\e925";
}
.cm-square-page:before {
  content: "\e926";
}
.cm-search:before {
  content: "\e923";
}
.cm-square-quote-alt:before {
  content: "\e91b";
}
.cm-square-image-big:before {
  content: "\e90f";
}
.cm-circle-chevron-bold-up:before {
  content: "\e92c";
}
.cm-back-to-top:before {
  content: "\e92c";
}
.cm-square-share:before {
  content: "\e92d";
}
.cm-external-link:before {
  content: "\e92e";
}
.cm-square-image:before {
  content: "\e92a";
}
.cm-square-link:before {
  content: "\e92b";
}
.cm-audio:before {
  content: "\e900";
}
.cm-camera:before {
  content: "\e901";
}
.cm-chevron-bold-down:before {
  content: "\e902";
}
.cm-chevron-bold-left:before {
  content: "\e903";
}
.cm-chevron-bold-right:before {
  content: "\e904";
}
.cm-chevron-bold-up:before {
  content: "\e905";
}
.cm-chevron-double-down:before {
  content: "\e906";
}
.cm-chevron-double-left:before {
  content: "\e907";
}
.cm-chevron-double-right:before {
  content: "\e908";
}
.cm-chevron-double-up:before {
  content: "\e909";
}
.cm-chevron-down:before {
  content: "\e90a";
}
.cm-chevron-left:before {
  content: "\e90b";
}
.cm-chevron-right:before {
  content: "\e90c";
}
.cm-chevron-up:before {
  content: "\e90d";
}
.cm-close:before {
  content: "\e90e";
}
.cm-film:before {
  content: "\e910";
}
.cm-layers:before {
  content: "\e911";
}
.cm-menu:before {
  content: "\e912";
}
.cm-microphone:before {
  content: "\e913";
}
.cm-minus:before {
  content: "\e914";
}
.cm-plus:before {
  content: "\e915";
}
.cm-quote:before {
  content: "\e916";
}
.cm-seperator:before {
  content: "\e917";
}
.cm-square-audio:before {
  content: "\e918";
}
.cm-square-camera:before {
  content: "\e919";
}
.cm-square-close:before {
  content: "\e91a";
}
.cm-square-film:before {
  content: "\e91c";
}
.cm-square-layers:before {
  content: "\e91d";
}
.cm-square-microphone:before {
  content: "\e91e";
}
.cm-square-minus:before {
  content: "\e91f";
}
.cm-square-plus:before {
  content: "\e920";
}
.cm-square-quote:before {
  content: "\e921";
}
.cm-square-zoom:before {
  content: "\e922";
}
.cm-zoom:before {
  content: "\e929";
}

.cm-topology-icon {
    fill: $headline-color;
    color: $headline-color;
    &:hover, &.selected {
        color: $accent-color;
    }
}
