.cm-mediator-icon-reframing {
    background-image: url('./assets/icons/mediator/anthem.svg');
}
.cm-mediator-icon-camera {
    background-image: url('./assets/icons/mediator/camera.svg');
}
.cm-mediator-icon-cancellation {
    background-image: url('./assets/icons/mediator/cancellation.svg');
}
.cm-mediator-icon-cinema {
    background-image: url('./assets/icons/mediator/cinema.svg');
}
.cm-mediator-icon-editorial {
    background-image: url('./assets/icons/mediator/editorial.svg');
}
.cm-mediator-icon-exposure {
    background-image: url('./assets/icons/mediator/exposure.svg');
}
.cm-mediator-icon-leader {
    background-image: url('./assets/icons/mediator/leader.svg');
}
.cm-mediator-icon-marketing {
    background-image: url('./assets/icons/mediator/marketing.svg');
}
.cm-mediator-icon-montage {
    background-image: url('./assets/icons/mediator/montage.svg');
}
.cm-mediator-icon-parade {
    background-image: url('./assets/icons/mediator/parade.svg');
}
.cm-mediator-icon-radio {
    background-image: url('./assets/icons/mediator/radio.svg');
}
.cm-mediator-icon-residence {
    background-image: url('./assets/icons/mediator/residence.svg');
}
.cm-mediator-icon-statistics {
    background-image: url('./assets/icons/mediator/statistics.svg');
}
.cm-mediator-icon-theater {
    background-image: url('./assets/icons/mediator/theater.svg');
}
.cm-mediator-icon-welfare {
    background-image: url('./assets/icons/mediator/welfare.svg');
}
