$break-mobile: 959px;

$title-regular-font: "Source Sans Pro";
$title-italics-font: "Source Sans Pro Italic";
$title-bold-font: "Source Sans Pro Bold";
$title-bold-italic-font: "Source Sans Pro Bold Italic";
$title-semibold-font: "Source Sans Pro Semibold";
$title-semibold-italic-font: "Source Sans Pro Semibold Italic";

$text-regular-font: "Source Serif Pro Regular";
$text-italics-font: "Source Serif Pro Italics";

$caption-regular-font: "Source Sans Pro";
$caption-italics-font: "Source Sans Pro Italic";
$caption-semibold-font: "Source Sans Pro Semibold";

$header-color: #333333;
$map-overlay-background-color: #666;
$map-overlay-active-color: #fff;
$map-overlay-inactive-color: #a7a7a7;
$text-block-background-color: #f4f4f4;

$h-primary-font-color: #666666;
$h-secondary-font-color: #8e8e8e;
$primary-font-color: #4d4d4d;
$secondary-font-color: #a7a7a7;
$active-font-color: #fff;
$inactive-font-color: #d7d7d7;

$base-font-size: 20px;
$mobile-base-font-size: 18px;

$h-primary-font-size: 1.5rem;
$h-secondary-font-size: 1.2rem;
$small-font-size: 0.9rem;
$small2-font-size: 0.8rem;
$extra-small-font-size: 0.7rem;

$base-line-height: 1.5rem;
$small-line-height: 1.35rem;

$header-height: 3.3rem;
$header-height-mobile: 2.5rem;

$event-nav-height: $header-height;
$event-nav-height-mobile: $header-height-mobile;

$main-color: #676767;
$accent-color: #b18691;
