@import '../../../../scss/_variables.scss';

:host {
    .container {
      display: flex;
      align-items: flex-end;
    }

    border-radius: 3px;
    .meta-info-container {
        background-color: $background-light-color;
        opacity: 0;
        padding: 5px 10px;
        font-size: $small2-font-size;
        font-family: $caption-regular-font;
        color: $text-color;
        line-height: 22px;
        margin-left: 7px;
        border-radius: 4px;
        overflow: hidden;
        max-height: 140px;
    }
    &.isOpen .mat-mini-fab {
        background-color: $accent-color;
    }
    ::ng-deep .mat-mini-fab {
        float: left;
        background-color: $clickable-color;
        .mat-button-wrapper {
            line-height: 1.1rem;
            margin-top: -1px;
            font-size: 1rem;
            font-weight: 600;
        }
    }
    @media screen and (max-width: $break-mobile) {  
        max-width: calc(100vw - 30px);
    }
}

button {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  display: block;
  min-width: 20px;
  width: 26px;
  padding: 0px;
  height: 26px;
  line-height: 30px;
  opacity: 0.9;
  background: #ffffff !important;
  &:hover {
      background: #ffffff;
      &::before {
        color: $accent-color;
      }
  }
  &::before {
    font-size: 30px;
    color: $clickable-color;
    position: absolute;
    top: -2px;
    left: -2px;
  }
  &.info-box-open {
    background: #ffffff;
    &::before {
      color: $accent-color;
    }
  }
}
.info-box-open {
  background: $accent-color;
}

.label {
    font-family: $caption-semibold-font;
    width: 65px;
    min-width: 65px;
}

.content {
    font-family: $caption-regular-font;
    @media screen and (min-width: $break-mobile) {  
      min-width: 210px;
    }
}

:host.at-god .content {
  min-width: 60px;
}

::ng-deep {
  .content {
    i, em {
        font-family: $caption-italics-font !important;
        font-style: normal;
    }
  }
  .info-button .mat-button-wrapper {
    display: none;
  }
}