@import '../../../../scss/_variables.scss';

:host {
    position: absolute;
    background: $map-overlay-background-color;
    padding: 20px;
    left: 20px;
    opacity: 0.9;
    color: $active-font-color;
    font-size: $small2-font-size;
    line-height: 1rem;
    bottom: 0px;
}

.label {
    font-family: $caption-semibold-font;
    width: 65px;
}

.content {
    font-family: $caption-regular-font;
}

::ng-deep {
  .content {
    i, em {
        font-family: $caption-italics-font !important;
        font-style: normal;
    }
  }
}
