@import '../../../../scss/_variables.scss';

:host {
    display: block;
    position: absolute;
    z-index: 9;
    bottom: 0px;
    @media screen and (max-width: $break-mobile) {
        bottom: auto;
        width: 100% !important;
        top: $header-height-mobile;
        position: fixed;
        &.open {
            z-index: 11;
        }
    }
    background: $map-overlay-background-color;
    color: white;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: $title-regular-font;
    overflow: hidden;
    .panel-control {
        position: absolute;
        top: 0px;
        @media screen and (max-width: $break-mobile) {
            bottom: 0px;
            top: auto;
            transform: scaleY(-1);
        }
        left: 50%;
        min-width: 40px;
        height: 16px;
        border-radius: 0px;
        line-height: 15px;
        margin-left: -28px;
        mat-icon {
            font-size: 19px;
            height: 15px;
            line-height: 15px;
            margin-top: -4px;
        }
    }
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    padding: 6px 0px;
    font-family: $title-regular-font;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.events {
    margin-top: 25px;
}

.events-row {
    height: 10px;
    margin-top: 6px;
    width: 100%;
    position: relative;
}

.event {
    display: inline-block;
    position: absolute;
    height: 100%;
    padding: 0px 2px;
    box-sizing: border-box;
    &:focus {
        outline: 0;
    }
}
.bar {
    min-width: 5px;
    width: 100%;
    height: 100%;
    background: $clickable-color;
    border-radius: 1px;
    &.active {
        background: white;
    }
    &.selected {
        background: $accent-color;
    }
}


.baseline {
    position: relative;
    height: 2px;
    background: white;
    margin-bottom: 50px;
    margin-top: 15px;
    width: 100%;
    border-radius: 1px;
}

.selectedline {
    position: absolute;
    height: 6px;
    background: white;
    transform: translateY(-2px);
    opacity: 0.8;
    border-radius: 3px;
    transition: left .2s cubic-bezier(.25,.8,.25,1), right .2s cubic-bezier(.25,.8,.25,1);
}

.handle-left {
    margin-left: -8px;
    transition: left .2s cubic-bezier(.25,.8,.25,1);
}

.handle-right {
    margin-right: -8px;
    transition: right .2s cubic-bezier(.25,.8,.25,1);
}

.left-touch-area {
    position: absolute;
    width: 80px;
    height: 160px;
    top: -123px;
    right: -30px;
}

.right-touch-area {
    position: absolute;
    width: 80px;
    height: 160px;
    top: -123px;
    left: -30px;
}

.handle {
    position: absolute;
    top: -7px;
    height: 16px;
    width: 16px;
    background: white;
    opacity: 0.8;
    border-radius: 8px;
    &:hover, &.move {
        opacity: 1;
        cursor: pointer;
    }
}

.indicatorline {
    background-image: linear-gradient(white 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 2px 8px;
    background-repeat: repeat-y;
    width: 2px;
    position: relative;
    left: 7px;
}

.indicatorlabel {
    color: white;
    font-size: $small2-font-size;
    position: relative;
    top: -1.5em;
    left: -15px;
    width: 35px;
    text-align: center;
}

.startlabel {
    font-size: $small2-font-size;
    float: left;
    margin-top: 10px;
}
.endlabel {
    font-size: $small2-font-size;
    float: right;
    margin-top: 10px;
}


