@import '../../../../scss/variables.scss';

:host {
    height: $header-height;
    background-color: $header-color;
    font-family: $title-regular-font;
    width: 100%;
    position: fixed;
    z-index: 10;
    a {
        color: $inactive-font-color;
        text-decoration: none !important;
    }
}
.nav-sub {
    margin-left: 10px;
    button {
        color: $active-font-color;
        mat-icon {
            font-size: 1.4rem;
            margin-top: -6px;
        }
    }
}

.nav-lang {
    text-align: right;
    font-size: $small-font-size;
    margin-right: 10px;
    a {
        line-height: $header-height;
        padding: 0px 6px;
        border: solid 1px $header-color;
        margin-right: 5px;
        &.active, &:hover {
            color: $inactive-font-color;
            border: solid 1px $inactive-font-color;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.logo {
    cursor: pointer;
    color: $map-overlay-active-color;
    height: 2.2rem;
    &:focus {
        outline: 0;
    }
}
