@import '../../../../scss/variables.scss';

:host {
    height: $header-height;
    background-color: $header-color;
    font-family: $title-regular-font;
    a {
        color: $inactive-font-color;
        text-decoration: none !important;
    }
}
.nav-sub {
    margin-left: 10px;
    button {
        color: $active-font-color;
        mat-icon {
            font-size: 28px;
            margin-top: -6px;
        }
    }
}

.nav-lang {
    text-align: right;
    font-size: $small-font-size;
    a {
        line-height: $header-height;
        padding: 0px 6px;
        border: solid 1px $header-color;
        margin-right: 5px;
        &.active, &:hover {
            color: $inactive-font-color;
            border: solid 1px $inactive-font-color;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.logo {
    color: $map-overlay-active-color;
    height: 28px;
    .logo-left {
        height: 100%;
        border-right: 1px solid white;
        padding-right: 5px;
        span {
            font-family: $title-semibold-font;
            display: inline-block;
            position: relative;
            top: -6px;
        }
    }
    .logo-right {
        height: 100%;
        padding-left: 3px;
        span {
            font-family: $title-regular-font;
            display: inline-block;
            position: relative;
            top: 2px;
            color: #d7d7d7;
        }
    }
}
