@import '../../../../scss/_variables.scss';

:host {
    display: inline-block;
    font-size: $extra-small-font-size;
    height: $event-nav-height;
}

.wrapper {
    height: 100%;
}

.previous {
    width: 200px;
    height: 32px;
    cursor: pointer;
    text-align: right;
    color: $primary-font-color;
    font-family: $title-regular-font;
    overflow: hidden;
    margin-right: 10px;
    .text {
        display: inline-block;
        position: relative;
        top: -5px;
    }
    &:hover {
        font-family: $title-semibold-font;
    }
    .fa {
        margin-right: 14px;
        font-size: 1.7rem;
        color: #b3b3b3;
    }
}

.seperator {
    border-right: 2px solid #d9d9d9;
    width: 0px;
    height: 28px;
    color: $primary-font-color;
    margin-top: 5px;
}

.next {
    width: 200px;
    cursor: pointer;
    height: 32px;
    text-align: left;
    color: $primary-font-color;
    font-family: $title-regular-font;
    overflow: hidden;
    margin-left: 10px;
    .text {
        display: inline-block;
        position: relative;
        top: -5px;
    }
    &:hover {
        font-family: $title-semibold-font;
    }
    .fa {
        margin-left: 14px;
        font-size: 1.7rem;
        color: #b3b3b3;
    }
}

.container {
    width: 200px;
    height: 32px;
}
