@import '../../../../scss/_variables.scss';

:host {
    display: inline-block;
    font-size: $extra-small-font-size;
    height: $event-nav-height;
}

.wrapper {
    height: 100%;
}

.previous {
    width: 200px;
    height: 32px;
    cursor: pointer;
    text-align: right;
    color: $primary-font-color;
    overflow: hidden;
    margin-right: 10px;
    .text {
        display: inline-block;
        position: relative;
        top: -5px;
    }
    .arrow {
        line-height: 32px;
        margin-right: 14px;
        font-size: 1rem;
        color: #b3b3b3;
    }
}

.cm-seperator {
    color: #b3b3b3;
    font-size: 26px;
}

.next {
    width: 200px;
    cursor: pointer;
    height: 32px;
    text-align: left;
    color: $primary-font-color;
    overflow: hidden;
    margin-left: 10px;
    .text {
        display: inline-block;
        position: relative;
        top: -5px;
    }
    .arrow {
        line-height: 32px;
        margin-left: 14px;
        font-size: 1rem;
        color: #b3b3b3;
    }
}

.container {
    width: 200px;
    height: 32px;
}
