<div fxLayout="row" fxLayoutAlign="center center" class="wrapper">
    <div *ngIf="previousEvent" class="previous" (click)="select(previousEvent)">
        <span class="arrow cm-chevron-left"></span>
        <span class="text" [innerHtml]="translate.currentLang === 'de' ? previousEvent.titleDe : previousEvent.titleEn"></span>
    </div>
    <div class="cm-seperator"></div>
    <div class="container">
        <div *ngIf="nextEvent" class="next" (click)="select(nextEvent)">
            <span class="text" [innerHtml]="translate.currentLang === 'de' ? nextEvent.titleDe : nextEvent.titleEn"></span>
            <span class="arrow cm-chevron-right"></span>
        </div>
    </div>
</div>
