@import '../../style.scss';

:host {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.previous {
    display: inline-block;
    height: 32px;
    cursor: pointer;
    text-align: right;
    position: absolute;
    right: 260px;
    width: 200px;
    line-height: 32px;
    color: $primary-font-color;
    font-family: $title-regular-font;
    overflow: hidden;
    &:hover {
        font-family: $title-semibold-font;
    }
    .fa {
        margin-right: 3px;
        font-size: 1.4rem;
        top: 2px;
        position: relative;
    }
}

.seperator {
    display: inline-block;
    border-right: 2px solid $secondary-font-color;
    width: 0px;
    height: 32px;
    position: absolute;
    right: 249px;
    color: $primary-font-color;
}

.next {
    display: inline-block;
    cursor: pointer;
    height: 32px;
    position: absolute;
    width: 200px;
    right: 40px;
    line-height: 32px;
    text-align: left;
    color: $primary-font-color;
    font-family: $title-regular-font;
    overflow: hidden;
    &:hover {
        font-family: $title-semibold-font;
    }
    .fa {
        margin-left: 3px;
        font-size: 1.4rem;
        top: 2px;
        position: relative;
    }
}
