@import '../../../../scss/_variables.scss';

.mapboxgl-map {
    width: 100%;
    height: 100%;
}


:host ::ng-deep .mapboxgl-ctrl-attrib {
    display: none;
}

.map-spinner {
    position: absolute;
    background: transparent url("../../../../assets/icons/cm-loading.svg");
    z-index: 1000;
    height: 64px;
    width: 64px;
    top: 64px;
    left: 78px;
}
.map-spinner .fa-spinner::before {
    content: none;
}

.map-control {
    position: absolute;
    z-index: 5;
    top: 24px;
    @media screen and (max-width: $break-mobile) {
        top: 55px;
    }
    left: 24px;
    @media screen and (max-width: $break-mobile) {  
        left: 15px;
    }
    button {
        background: $clickable-color-opacity;
        display: block;
        min-width: 20px;
        margin-bottom: 2px;
        width: 30px;
        padding: 0px;
        height: 30px;
        line-height: 30px;
        &:hover {
            background: $accent-color-opacity;
        }
    }
    .zoom {
        font-size: 16px;
    }
    .deactivated {
        opacity: 0.6;
        cursor: default;
        &:hover {
            background: $clickable-color-opacity;
        }
    }
    .mat-button-wraper {
        line-height: 30px;
    }
    .vie-map-not-visible {
        color: $clickable-color-opacity;
        background-color: rgba(255,255,255,0.9);
        border: solid $clickable-color-opacity 1px;
        &:hover {
            color: rgba(255,255,255,0.9);;
        }
    }
    .vie-map-toggle {
        margin-top: 15px;
        font-size: 22px;
    }
    .map-attrib {
        margin-top: 15px;
    }
}

.nowebgl {
    width: 400px;
    padding-top: 20px;
    padding-left: 80px;
    box-sizing: border-box;
    padding-right: 20px;

    @media screen and (max-width: $break-mobile) {
        width: 100%;
        padding-top: 60px;
        padding-left: 80px;
        box-sizing: border-box;
        padding-right: 20px;
    }
}