@import '../../../../scss/variables.scss';

.marker {
    width: 32px;
    height: 50px;
    cursor: pointer;
    .icon {
        position: absolute;
        background-image: url('../../../../assets/icons/event-unselected.png');
        width: 32px;
        height: 50px;
        opacity: 1;
        z-index: 100;
    }
    &.active .icon {
        background-image: url('../../../../assets/icons/event-selected.png');
    }
    .highlight {
        position: absolute;
        display: none;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        background-color: #e2e2e2;
        opacity: 0.8;
        top: -10px;
        left: -19px;
        z-index: 99;
    }
    &:hover .highlight, &.selected .highlight {
        display: block;
    }
    &:focus {
        outline: 0;
    }
}
