
<button mat-button class="close cm-close" (click)="close()"></button>

<div fxLayout="column" class="meta-info-container" *ngIf="translate.currentLang === 'en'">
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Title</div>
        <div class="content" [innerHtml]="titleEn"></div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">URL</div>
        <div class="content url">{{url}}</div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Text</div>
        <div class="content"><cm-link-intern href="/team#ganahl">Simon Ganahl</cm-link-intern></div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Code</div>
        <div class="content"><cm-link-intern href="/team#krimbacher">Andreas Krimbacher</cm-link-intern></div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Design</div>
        <div class="content"><cm-link-intern href="/team#kiesenhofer">Susanne Kiesenhofer</cm-link-intern></div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Updated</div>
        <div class="content">February 1, 2019</div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Copyright</div>
        <div class="content">
            Un­less stated oth­er­wise, this web­site's con­tent is avail­able open-ac­cess un­der Cre­at­ive Com­mons <cm-link-extern href="https://creativecommons.org/licenses/by/4.0/deed.en">CC BY 4.0</cm-link-extern>. This li­cense per­mits un­res­tric­ted use and dis­tri­bu­tion of the re­spect­ive ma­ter­i­al, provided the cre­at­or(s) and the source are prop­erly ref­er­enced, ideally in the form sug­ges­ted above. For copy­right de­tails on the me­dia ob­jects cited in <i>Cam­pus Me­di­us</i>, please check the sources giv­en in the cap­tions.
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Sponsors</div>
        <div class="content">
            The pro­duc­tion of this web­site has been sponsored by the Aus­tri­an Sci­ence Fund (FWF: J3181-G20), the City of Vi­enna (MA 7: 573323/14), the Aus­tri­an Academy of Sci­ences (ÖAW: APART 11810), and the De­part­ment of Ger­man Stud­ies at the Uni­versity of Vi­enna.
        </div>
    </div>
</div>

<div fxLayout="column" class="meta-info-container" *ngIf="translate.currentLang === 'de'">
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Titel</div>
        <div class="content" [innerHtml]="titleDe"></div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">URL</div>
        <div class="content url">{{url}}</div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Text</div>
        <div class="content"><cm-link-intern href="/team#ganahl">Simon Ganahl</cm-link-intern></div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Code</div>
        <div class="content"><cm-link-intern href="/team#krimbacher">Andreas Krimbacher</cm-link-intern></div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Design</div>
        <div class="content"><cm-link-intern href="/team#kiesenhofer">Susanne Kiesenhofer</cm-link-intern></div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Aktualisiert</div>
        <div class="content">1. Februrar 2019</div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Urheberrecht</div>
        <div class="content">
            Wenn nicht an­ders an­ge­ge­ben, sind die In­hal­te die­ser Web­site un­ter Crea­tive Com­mons <cm-link-extern href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY 4.0</cm-link-extern> frei ver­füg­bar. Die­se Li­zenz ge­stat­tet un­ein­ge­schränk­te Nut­zung und Ver­brei­tung des ent­spre­chen­den Ma­te­ri­als un­ter der Be­din­gung, dass der/die Ur­he­ber/in­nen und die Quel­le ein­deu­tig ge­nannt wer­den, idea­ler­wei­se in der oben vor­ge­schla­ge­nen Form. Für die Ur­he­ber­rech­te der Me­dien­ob­jek­te, die in <i>Cam­pus Me­di­us</i> zi­tiert wer­den, bit­te die an­ge­führ­ten Quel­len kon­sul­tie­ren.
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div class="label">Sponsoren</div>
        <div class="content">
            Die Pro­duk­ti­on die­ser Web­site wur­de und wird ge­för­dert von der Ös­ter­rei­chi­schen Aka­de­mie der Wis­sen­schaf­ten (ÖAW: APART 11810), dem ös­ter­rei­chi­schen Wis­sen­schafts­fonds (FWF: J3181-G20), der Stadt Wien (MA 7: 573323/14) und dem In­sti­tut für Ger­ma­nis­tik der Uni­ver­si­tät Wien.
        </div>
    </div>
</div>
