@import '../../../../scss/variables.scss';

.selector-topography, .selector-topology {
  width: 100%;
  height: calc(50% - 4px);
  cursor: pointer;
  &:hover .label {
    background: $accent-color;
  }
  .label {
    opacity: 0.9;
  }
  overflow: hidden;
  &:focus {
    outline: none;
  }
}

.not-selected-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #fff;
}

.seperator {
  height: 8px;
  color: #fff;
  position: relative;
}


.selector-topography {
  background-image: url("../../../../assets/topography.jpg");
  @media screen and (max-width: $break-mobile) {  
    background-image: url("../../../../assets/topography-mobile.jpg");
  }
  background-position: center center;
  background-size: cover;
}

.selector-topology {
  background-image: url("../../../../assets/topology.jpg");
  @media screen and (max-width: $break-mobile) {  
    background-image: url("../../../../assets/topology-mobile.jpg");
  }
  background-position: center center;
  background-size: cover;
}

.label {
  font-family: $title-bold-font;
  font-size: $h-secondary-font-size;
  color: #fff;
  background: $clickable-color;
  text-align: center;
  width: 240px;
  height: 60px;
  line-height: 55px;
  position: relative;
  bottom: calc(50% + 30px);
  left: calc(50% - 120px);
  @media screen and (max-width: $break-mobile) {  
    font-size: $base-font-size;
    width: 200px;
    height: 50px;
    line-height: 50px;
    bottom: calc(50% + 25px);
    left: calc(50% - 100px);
  }
}
