@import '../../../../scss/variables.scss';

:host {
    height: $header-height;
    @media screen and (max-width: $break-mobile) {
        height: $header-height-mobile;
    }
    background-color: $header-color;
    font-family: $title-regular-font;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 20;
    a {
        color: #fff;
        text-decoration: none !important;
    }
}


.nav-sub {
    margin-left: 18px;
    @media screen and (max-width: $break-mobile) {
        margin-left: 6px;
    }
    button {
        color: $active-font-color;
        mat-icon {
            font-size: 1.4rem;
            @media screen and (max-width: $break-mobile) {
                font-size: 1.2rem;
            }
            margin-top: -6px;
        }
    }
}

.lang-selector {
    margin-left: 22px;
    @media screen and (max-width: 340px) {
        margin-left: 0px;
    }
}

.nav-lang {
    text-align: right;
    font-size: $small-font-size;
    margin-right: 12px;
    @media screen and (max-width: $break-mobile) {
        margin-right: 5px;
    }
    a {
        line-height: $header-height;
        @media screen and (max-width: $break-mobile) {
            line-height: $header-height-mobile;
        }
        padding: 0px 6px;
        border: solid 1px $header-color;
        margin-right: 5px;
        &.active, &:hover {
            color: #fff;
            border: solid 1px #fff;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.logo-mobile {
    display: none; /* Hide mobile logo by default */
    cursor: pointer;
    height: 1.9rem;
    &:focus {
        outline: 0;
    }
}

@media screen and (max-width: 410px) {
    .logo {
        display: none; /* Hide the regular logo on small screens */
    }
    .logo-mobile {
        display: inline-block; /* Show the mobile logo on small screens */
    }
}

@media screen and (min-width: 411px) {
    .logo {
        display: inline-block; /* Ensure the regular logo is visible on larger screens */
    }
    .logo-mobile {
        display: none; /* Ensure the mobile logo is hidden on larger screens */
    }
}

.logo {
    cursor: pointer;
    height: 2.2rem;
    @media screen and (max-width: $break-mobile) {
        height: 1.9rem;
    }
    &:focus {
        outline: 0;
    }
}

.search-button {
    margin-left: 2px;
    @media screen and (max-width: 340px) {
        display: none;
    }
    @media screen and (max-width: $break-mobile) {
        margin-left: -8px;
    }    
}
.search-icon-menu {
    font-size: 24px;
    margin-right: 10px !important;
}

@media screen and (min-width: 340px) {
    .search-menu {
        display: none;
    }
}

.logo-container {
    @media screen and (max-width: 340px) {
        justify-content: start !important;
    }
}