<cm-start-page-selector></cm-start-page-selector>
<cm-sidepanel width="80%">
  <div class="title-header" fxLayout="row" fxLayoutAlign=" center" [@titleHeader]="showTitleHeader">
      <button class="cite-button" [title]="translate.currentLang === 'de' ? 'Metadaten' : 'Metadata'" mat-icon-button (click)="showCite()">
          <span class="cm-square-quote-alt"></span>
      </button>
      <h1 [innerHtml]="translate.currentLang === 'de' ? page.titleDe : page.titleEn"></h1>
  </div>
  <div class="up-header" [@titleHeader]="showTitleHeader">
      <button mat-icon-button class="back-to-top" (click)="scrollUp()">
          <span class="cm-back-to-top"></span>
      </button>
  </div>
  <div *ngIf="page" class="info-container">
    <cm-info-container
     [lang]="translate.currentLang"
     [title]="translate.currentLang === 'de' ? page.titleDe : page.titleEn"
     [state]="'full'"
     [content]="translate.currentLang === 'de' ? page.information.contentDe : page.information.contentEn"
     [media]="page.information.media"
     (citeClick)="showCite()"
     (sectionChange)="sectionChange($event)"
     (showTitleHeader)="showTitleHeader = $event">
    </cm-info-container>
  </div>
</cm-sidepanel>
