@import '../../../../scss/variables.scss';

:host {
  width: 100%;
  height: 100%;
  display: block;
}

.info-heading {
    margin-bottom: 50px;
    .sub-heading {
        color: $secondary-font-color;
        font-size: $small-font-size;
        font-family: $title-semibold-font;
    }
    h2 {
        margin: 0px;
        margin-bottom: 40px;
        font-family: $title-bold-font;
        font-size: $h-primary-font-size;
    }
}

.bottom-white {
    width: 100%;
    height: 120px;
}

.info-body {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 55px;
    .btn-read-more {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 6px 16px;
        border-radius: 0px;
    }
    width: 100%;
    box-sizing: border-box;
}

.info-content {
    padding-bottom: 120px;
    width: 70%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.cite-button {
    width: $base-font-size;
    min-width: $base-font-size;
    height: $base-font-size;
    line-height: $base-font-size;
    min-height: $base-font-size;
    vertical-align: top;
    font-size: $base-font-size;
    padding: 0 0;
    margin: 0px;
    color: $accent-color;
    position: absolute;
    left: -40px;
    top: 4px;
    border-radius: 0px;
}


.cite-button-wrapper {
    position: relative;
    width: 0px;
    height: 0px;
    top: 1px;
    @media screen and (max-width: $break-mobile) {
        top: -1px;
    }
}

.title-header {
    height: $header-height;
    h1 {
        font-size: 0.9rem;
        margin: 0px;
        margin-left: 10px;
    }
    .cite-button {
        left: 0px;
        top: -2px;
        position: relative;
    }
    position: absolute;
    left: 25px;
}
