@import '../../../../scss/_variables.scss';

:host {
    color: $primary-font-color;
    font-family: $caption-regular-font;
    ::ng-deep em, ::ng-deep i {
	      font-family: $caption-italics-font;
        font-style: normal;
    }
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    @media screen and (max-width: $break-mobile) {
        padding: 0px 14px !important;
    }
    padding: 0px 25px !important;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.label {
    font-family: $caption-semibold-font;
    min-width: 100px;
    font-size: $small2-font-size;
    text-align: right;
    @media screen and (max-width: $break-mobile) {
        text-align: left;
    }
    padding-right: 15px;
    line-height: 1.2rem;
    padding-top: 0.1rem;
}

.content {
    font-size: $small-font-size;
    margin-bottom: 0.5em;
    line-height: $small-line-height;
    overflow: hidden;
}

.close {
    float: right;
    display: block;
    min-width: 20px;
    margin-bottom: 2px;
    width: 30px;
    padding: 0px;
    height: 30px;
    line-height: 30px;    
    position: absolute;
    right: 15px;
}

a {
    color: $accent-color;
    text-decoration: underline $accent-color;
    cursor: pointer;
}

.copy {
    transition: all 1s ease-out;
    border-radius: 3px;
    padding: 0px 3px;
    &:active {
        transition: all 0s;
        background-color: $accent-color;
        color: #fff;
    }
}

.citation-content { 
    padding-right: 50px;
}

.download-button {
    width: $base-font-size;
    min-width: $base-font-size;
    height: $base-font-size;
    line-height: $base-font-size;
    min-height: $base-font-size;
    vertical-align: top;
    font-size: $base-font-size;
    padding: 0 0;
    margin: 0px;
    color: $accent-color;
    border-radius: 0px;
}


.download-button-wrapper {
    position: relative;
    width: 0px;
    height: 0px;
    top: 1px;
    @media screen and (max-width: $break-mobile) {
        top: -1px;
    }
}