@import '../../../../scss/_variables.scss';

.cm-icon {
    color: $accent-color;
    font-size: $h-secondary-font-size;
}


h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
}

.text {
    font-family: $text-regular-font;
    font-size: $small2-font-size;
    line-height: 1.25rem;
}

.icon-col {
    width: 80px;
    height: $h-secondary-font-size;
    flex-shrink: 0;
    text-align: center;
}

.heading {
    height: $h-secondary-font-size;
}

.text-col {
    flex-grow: 1;
}

.more {
    font-family: $caption-semibold-font;
    font-size: $small2-font-size;
    line-height: 1.25rem;
    color: $headline-color;
    &.active {
        background-color: $accent-color;
        opacity: 0.9;
        color: #fff;
    }
}


.result-row {
    display: flex;
    align-items: center;
    &.text {
        align-items: initial;
    }
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        background-color: $accent-color;
        opacity: 0.9;
        color: #fff;
        cursor: pointer;
        h2 {
            color: #fff;
        }
        .cm-icon {
            color: #fff;
        }
    }
}


hr {
    border-top: $background-light-color;
    margin-block-start: 0.75rem;
    margin-block-end: 0.75rem;
}

:host:first-child hr {
    display: none;
}
