@import './../../../../scss/_variables.scss';

:host {
    margin-left: 1px;
    margin-right: 1px;
}

.animation-container {
    overflow: hidden;
}

.container {
    padding: 20px 20px 0px 20px;
    @media screen and (max-width: $break-mobile) {
        padding-bottom: 0px;
    }
    background: $text-block-background-color;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $caption-regular-font;
    ::ng-deep em, ::ng-deep i {
	      font-family: $caption-italics-font;
        font-style: normal;
    }
    font-size: $small-font-size;
    line-height: $small-line-height;
}

img {
    width: 100%;
    cursor: pointer;
    @media screen and (min-width: $break-mobile) {
        margin-bottom: 17px;
    }
}

.image {
   position: relative;
}

.caption {
    padding: 0px 25px 0px 25px;
    margin-top: -1rem;
    @media screen and (max-width: $break-mobile) {
        padding: 20px 0px 0px 0px;
    }
}

.mat-icon-button {
    width: $base-font-size;
    min-width: $base-font-size;
    height: $base-font-size;
    line-height: $base-font-size;
    min-height: $base-font-size;
    vertical-align: top;
    font-size: $base-font-size;
    padding: 0 0;
    margin: 0px;
    color: $accent-color;
    margin-top: 3px;
    @media screen and (max-width: $break-mobile) {
        margin-top: 1px;
    }
    border-radius: 0px;
}


