<cm-map *ngIf="selectedMediator"
    [@mapTopOffset]="mediationState"
    [@mapLeftOffset]="sidepanelState"
    [overlayBottomSize]="!isMobile ? mediationsHeight : mobileOverlayHeight"
    [overlayRightSize]="!isMobile ? sidepanelWidth : '0px'"
    [overlayTopSize]="isMobile ? mediationsHeight : '0px'" >
    <cm-map-mediator *ngFor="let mediator of visibleMediators" [mediator]="mediator" [mediation]="selectedMediation" [lang]="translate.currentLang" [selected]="mediator === selectedMediator">
    </cm-map-mediator>
</cm-map>

<cm-sidepanel *ngIf="!isMobile" [@sidenav]="sidepanelState" [state]="sidepanelState" [showControl]="sidepanelState !== 'intro'" (controlClick)="toggleInformationPanel()" >
    <div *ngIf="selectedMediator" class="info-container">
            <div #fullinfo class="info-body" fxFill>
                <div class="info-content">
                    <div #infoheading class="info-heading">
                        <span class="medium-info" [innerHtml]="translate.currentLang === 'de' ? selectedMediator.medium.titleDe : selectedMediator.medium.titleEn"></span>
                        <div class="cite-button-wrapper">
                            <button *ngIf="sidepanelState === 'full'" [title]="translate.currentLang === 'de' ? 'Metadaten' : 'Metadata'" mat-icon-button class="cite-button" (click)="showCite()">
                                <span class="cm-square-quote-alt"></span>
                            </button>
                        </div>
                        <h1 [innerHtml]="translate.currentLang === 'de' ? selectedMediator.titleDe : selectedMediator.titleEn"></h1>
                    </div>
                    <div *ngIf="sidepanelState === 'short'; else fullInfo" class="intro">
                        <cm-information [content]="translate.currentLang === 'de' ? selectedMediator.abstractDe : selectedMediator.abstractEn" [lang]="translate.currentLang"></cm-information>
                        <button mat-flat-button class="btn-read-more" color="warn" (click)="toggleInformationPanel()">{{'info.read-more' | translate | uppercase}}</button>
                    </div>
                    <ng-template #fullInfo>
                        <div *ngIf="information">
                            <cm-information [content]="translate.currentLang === 'de' ? information.contentDe : information.contentEn" [lang]="translate.currentLang" [media]="information.media"></cm-information>
                        </div>
                    </ng-template>
                </div>
            </div>
    </div>
</cm-sidepanel>

<cm-info-box *ngIf="selectedMediator" [@infoBox]="mediationState"></cm-info-box>

<cm-mediations
    [@mediationsPanel]="sidepanelState"
    [mediations]="mediations"
    [selectedMediation]="selectedMediation || focusedMediation"
    [selectedMediator]="selectedMediator || focusedMediator"
    (height)="mediationsHeight = $event"
    (state)="mediationState = $event"
    (focusedMediation)="focusedMediation = $event"></cm-mediations>

<cm-start-selector
    *ngIf="!selectedMediator"
    [mediators]="mediators.slice(1,16)"
    [mediations]="mediations"
    [overlayBottomSize]="!isMobile ? mediationsHeight : mobileOverlayHeight"
    [overlayRightSize]="!isMobile ? sidepanelWidth : '0px'"
    [lang]="translate.currentLang"
    [selectedMediationId]="focusedMediation ? focusedMediation.id : null"
    (focusedMediation)="focusedMediation = $event"
    (focusedMediator)="focusedMediator = $event"></cm-start-selector>


<cm-god-selector
    *ngIf="atGod"
    [overlayBottomSize]="!isMobile ? mediationsHeight : mobileOverlayHeight"
    [overlayRightSize]="!isMobile ? sidepanelWidth : '0px'"
    [mediators]="mediators.slice(1,16)"></cm-god-selector>
