@import '../../../../scss/variables.scss';

:host {
    display: block;
    height: 100vh;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: $break-mobile) {
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        position: fixed;
    }
}

.info-container {
    color: $primary-font-color;
    height: 100%;
    padding-top: $header-height;
}

.start-container {
    .info-content {
        padding-bottom: 0px;
    }
    color: $primary-font-color;
    height: 100%;
    display: flex;
    align-items: center;
}

.start-info-heading {
    margin-bottom: 50px;
    font-family: $title-bold-font;
    font-size: $h-primary-font-size;
}

.info-content {
    padding-bottom: 120px;
    width: 70%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

.god-info-content {
    margin-top: 10px;
}

.row, .col {
    height: 100%;
}

.ispage {
    margin-top: 3.3rem;
}

cm-map {
    width: calc(100% + 300px);
    height: calc(100% - 3.3rem + 300px);
    position: fixed;
    @media screen and (max-width: $break-mobile) {
        display: block;
        height: calc(100vh - #{$header-height-mobile});
        top: $header-height-mobile;
    }
}

.map-container {
    padding: 0px;
    z-index: 10;
}

.padding-bottom {
    color: #fff;
}

.start-selector-background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 470px;
    background-image: url("../../../../assets/topology.jpg");
    background-position: center center;
    background-size: cover;
    background-color: $map-overlay-background-color;
}

.mediation-info {
    font-family: $title-regular-font;
    font-size: $small2-font-size;
    color: $text-light-color;
    position: absolute;
    right: 20px;
    height: $header-height;
    display: flex;
    align-items: center;
    .demand {
        width: 230px;
        text-align: right;
    }
    .response {
        font-family: $title-semibold-font;
        width: 230px;
    }
}

cm-info-box {
    z-index: 10;
}


.map-control {
    position: fixed;
    z-index: 5;
    top: calc(#{$header-height} + 20px);
    left: 24px;
    button {
        display: block;
        min-width: 20px;
        margin-bottom: 2px;
        width: 30px;
        padding: 0px;
        height: 30px;
        line-height: 30px;
        opacity: 0.9;
        &:hover {
            background: $accent-color;
        }
    }
}