@import '../../../../scss/variables.scss';

:host {
    display: block;
    height: 100vh;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: $break-mobile) {
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        position: fixed;
    }
}

.row, .col {
    height: 100%;
}

.ispage {
    margin-top: 3.3rem;
}

cm-map {
    width: calc(100% + 300px);
    height: calc(100% - 3.3rem + 300px);
    position: fixed;
    @media screen and (max-width: $break-mobile) {
        display: block;
        height: calc(100vh - #{$header-height-mobile});
        top: $header-height-mobile;
    }
}

.map-container {
    padding: 0px;
    z-index: 10;
}

.info-container {
    color: $primary-font-color;
    height: 100%;
}

.sidenav-control {
    height: $header-height;
    top: $header-height;
    position: absolute;
    right: 100%;
    display: block;
    background: white;
    width: 25px;
    min-width: 20px;
    padding: 0px;
    color: $secondary-font-color;
    border-radius: 0px;
    .mat-icon {
        font-size: 24px;
        margin-top: -5px;
    }
    box-shadow: -3px 0 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: -3px 0 5px rgba(57, 63, 72, 0.3);
    -webkit-box-shadow: -3px 0 5px rgba(57, 63, 72, 0.3);
}

.sidepanel {
    overflow-y: visible;
    visibility: visible !important;
    width: 65%;
    background: white;
    z-index: 30;
    box-shadow: -3px 0 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: -3px 0 5px rgba(57, 63, 72, 0.3);
    -webkit-box-shadow: -3px 0 5px rgba(57, 63, 72, 0.3);
    position: absolute;
    right: 0px;
    top: $header-height;
    height: calc(100vh - #{$header-height});
    width: 450px;
}



.padding-bottom {
    color: #fff;
}

.info-heading {
    margin-bottom: 50px;
    .medium-info {
        color: $secondary-font-color;
        font-size: $small-font-size;
        font-family: $title-semibold-font;
    }
    h2 {
        margin: 0px;
        margin-bottom: 40px;
        font-family: $title-bold-font;
        font-size: $h-primary-font-size;
    }
}

.info-container {
    color: $primary-font-color;
    height: 100%;
}

.info-body {

    margin-top: 100px;

    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 55px;
    .btn-read-more {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    width: 100%;
    box-sizing: border-box;
}

.info-content {
    padding-bottom: 120px;
    width: 70%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.cite-button {
    width: $base-font-size;
    min-width: $base-font-size;
    height: $base-font-size;
    line-height: $base-font-size;
    min-height: $base-font-size;
    vertical-align: top;
    font-size: $base-font-size;
    padding: 0 0;
    margin: 0px;
    color: $accent-color;
    position: absolute;
    left: -40px;
    top: 4px;
    border-radius: 0px;
}


.cite-button-wrapper {
    position: relative;
    width: 0px;
    height: 0px;
    top: 1px;
    @media screen and (max-width: $break-mobile) {
        top: -1px;
    }
}

.title-header {
    height: $header-height;
    h1 {
        font-size: 0.9rem;
        margin: 0px;
        margin-left: 10px;
    }
    .cite-button {
        left: 0px;
        top: -2px;
        position: relative;
    }
    position: absolute;
    left: 25px;
}

cm-start-selector {
  background-image: url("../../../../assets/topology.jpg");
  background-position: center center;
  background-size: cover;
  background-color: $map-overlay-background-color;
}
