@import '../../../../scss/_variables.scss';

:host {
    display: inline-block;
    font-size: $small2-font-size;
    @media screen and (max-width: $break-mobile) {
        font-size: $small2-font-size;
    }
    max-width: 470px;
    width: 100%;
    white-space: nowrap;
    ::ng-deep {
        font-family: $title-regular-font;
        i, em {
            font-family: $title-italics-font;
            font-style: normal;
        }
        .text:hover, .text:hover {
            text-decoration: underline;
            i, em {
                font-style: normal;
                text-decoration: underline;
            }
        }
    }
}

.wrapper {
    height: $event-nav-height;
    @media screen and (max-width: $break-mobile) {
        height: $event-nav-height-mobile;
    }
}

.previous {
    height: 32px;
    cursor: pointer;
    text-align: right;
    color: $primary-font-color;
    overflow: hidden;
    .arrow {
        line-height: 32px;
        margin-right: 5px;
        font-size: 1.1rem;
        color: $clickable-color;
    }
}

.cm-seperator {
    color: $clickable-color;
    font-size: 1.5rem;
    margin-right: -5px;
    margin-left: -5px;
}


.next {
    cursor: pointer;
    height: 32px;
    text-align: left;
    color: $primary-font-color;
    overflow: hidden;
    .arrow {
        line-height: 32px;
        margin-left: 5px;
        font-size: 1.1rem;
        color: $clickable-color;
    }
}
