@import '../../../../scss/variables.scss';

:host {
    position: fixed;
    top: $header-height;
    @media screen and (max-width: $break-mobile) {
        top: 85px;
    }
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .mediator-label {
        display: inline-block;
        font-size: $small2-font-size;
        font-family: $title-regular-font;
        color: $primary-font-color;
        position: relative;
        top: -2px;
        line-height: 2;
        background-color: #ffffff;
        padding: 0px 12px;
        border-radius: 4px;
        margin-top: 8px;
        
    }
    .cm-mediator-leader {
        position: absolute;
        top: 0px;
        left: 155px;
        text-align: center;
    }
    .cm-mediator-editorial {
        position: absolute;
        top: 130px;
        left: 0px;
        text-align: center;
    }
    .cm-mediator-residence {
        position: absolute;
        top: 130px;
        right: 0px;
        text-align: center;
    }
    .cm-mediator-theater {
        position: absolute;
        bottom: 0px;
        left: 70px;
        text-align: center;
    }
    .cm-mediator-reframing {
        position: absolute;
        bottom: 0px;
        right: 70px;
        text-align: center;
    }
    .god-container {
        width: 400px;
        height: 400px;
        text-align: center;
        position: relative;
        @media screen and (max-width: $break-mobile) {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}

cm-mediator-switcher-mobile {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}