@import './../../../../scss/_variables.scss';

.animation-container {
    overflow: hidden;
}

.container {
    padding: 20px;
    background: $text-block-background-color;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: $caption-regular-font;
    ::ng-deep em, ::ng-deep i {
	      font-family: $caption-italics-font;
    }
    font-size: $small-font-size;
    line-height: $small-line-height;
}

img {
    width: 100%;
}

.caption {
    padding: 20px 24px 20px 24px;
    @media screen and (max-width: $break-mobile) {
        padding: 20px 0px 0px 0px;
    }
}

button {
    width: $base-font-size;
    min-width: $base-font-size;
    height: $base-font-size;
    line-height: $base-font-size;
    min-height: $base-font-size;
    vertical-align: top;
    font-size: $base-font-size;
    padding: 0 0;
    margin: 0px;
    color: $accent-color;
    margin-top: 2px;
}

audio {
    width: 100%;
    margin-top: 15px;
}
