<span *ngIf="data">
    <button mat-icon-button class="control" (click)="opened = !opened">
        <span [ngClass]="{'cm-square-camera':!opened,'cm-square-close':opened}"></span>
    </button>
    <div class="animation-container" [@container]="opened">
        <div class="container" fxLayout="row">
            <div fxFlex="50" class="image">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
            <div fxFlex="50" class="caption" [innerHtml]="lang === 'en' ? data.captionEn : data.captionDe"></div>
        </div>
    </div>
</span>

