@import './../../../../scss/_variables.scss';

.animation-container {
    overflow: hidden;
}

.container {
    padding: 20px;
    background: $text-block-background-color;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: $caption-regular-font;
    ::ng-deep em, ::ng-deep i {
	      font-family: $caption-italics-font;
        font-style: normal;
    }
    font-size: $small-font-size;
    line-height: $small-line-height;
}

img {
    width: 100%;
    cursor: pointer;
}

.image {
   position: relative;
}

.caption {
    padding: 0px 25px 0px 25px;
    margin-top: -1rem;
    @media screen and (max-width: $break-mobile) {
        padding: 20px 0px 0px 0px;
    }
}

.mat-icon-button {
    width: $base-font-size;
    min-width: $base-font-size;
    height: $base-font-size;
    line-height: $base-font-size;
    min-height: $base-font-size;
    vertical-align: top;
    font-size: $base-font-size;
    padding: 0 0;
    margin: 0px;
    color: $accent-color;
    margin-top: 2px;
    @media screen and (max-width: $break-mobile) {
        margin-top: 1px;
    }
    border-radius: 0px;
}

.cm-square-zoom {
    top: 0px;
    right: 0px;
    position: absolute;
    font-size: 22px;
    color: $accent-color;
    background-color: #fff;
}
