<div class="start-container">
    <div class="mediation-container">
            <cm-mediator-switcher-mobile [mediators]="mediators.slice(0,5)" [lang]="lang"></cm-mediator-switcher-mobile>
    </div>
    <div class="mediation-container">
            <cm-mediator-switcher-mobile [mediators]="mediators.slice(5,10)" [lang]="lang"></cm-mediator-switcher-mobile>
    </div>
    <div class="mediation-container">
            <cm-mediator-switcher-mobile [mediators]="mediators.slice(10,15)" [lang]="lang"></cm-mediator-switcher-mobile>
    </div>
</div>
