@import './../../../../scss/_variables.scss';

.animation-container {
    overflow: hidden;
}

.container {
    padding: 20px 25px;
    background: $text-block-background-color;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $caption-regular-font;
    ::ng-deep em, ::ng-deep i {
	      font-family: $caption-italics-font;
    }
    font-size: $small-font-size;
    line-height: $small-line-height;
}

.mat-icon-button {
    width: $base-font-size;
    min-width: $base-font-size;
    height: $base-font-size;
    line-height: $base-font-size;
    min-height: $base-font-size;
    vertical-align: top;
    font-size: $base-font-size;
    padding: 0 0;
    margin: 0px;
    color: $accent-color;
    margin-top: 2px;
    @media screen and (max-width: $break-mobile) {
        margin-top: 1px;
    }
    border-radius: 0px;
}
