@import '../../../../scss/variables.scss';

cm-start-page-selector {
  height: calc(100vh - 3.3rem);
  position: fixed;
  top: 3.3rem;
  width: calc(100vw - 450px);
}

.info-container {
    color: $primary-font-color;
    height: 100%;
    padding-top: 100px;
}
