@import '../../../../scss/_variables.scss';

:host {
    .container {
      display: flex;
      align-items: flex-end;
    }
    min-width: 290px;
    &.at-god {
      min-width: 120px;
    }

    border-radius: 3px;
    .meta-info-container {
        background-color: $background-light-color;
        opacity: 0.9;
        padding: 5px;
        font-size: $small2-font-size;
        font-family: $caption-regular-font;
        color: $text-color;
        line-height: 20px;
        margin-left: 7px;
        border-radius: 4px;
        overflow: hidden;
        max-height: 140px;
    }
    &.isOpen .mat-mini-fab {
        background-color: $accent-color;
    }
    ::ng-deep .mat-mini-fab {
        float: left;
        background-color: $clickable-color;
        .mat-button-wrapper {
            line-height: 1.1rem;
            margin-top: -1px;
            font-size: 1rem;
            font-weight: 600;
        }
    }
    @media screen and (max-width: $break-mobile) {  
        max-width: calc(100vw - 85px);
    }
}

button {
  display: block;
  min-width: 20px;
  width: 30px;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  opacity: 0.9;
  &:hover {
      background: $accent-color;
  }
  .cm-info {
    top: -2.5px;
    left: -0.5px;
    @media screen and (max-width: $break-mobile) {  
      top: -1px;
    }
  }
}

.label {
    font-family: $caption-semibold-font;
    width: 65px;
}

.content {
    font-family: $caption-regular-font;
}

::ng-deep {
  .content {
    i, em {
        font-family: $caption-italics-font !important;
        font-style: normal;
    }
  }
}