@import '../../../../scss/_variables.scss';

.mapboxgl-map {
    width: 100%;
    height: 100%;
}


:host ::ng-deep .mapboxgl-ctrl-attrib {
    @media screen and (min-width: $break-mobile) {
        right: 470px;
        bottom: 40px;
        position: fixed;
    }
    @media screen and (max-width: $break-mobile) {
        right: 0px;
        top: 85px;
        position: fixed;
    }
}

.map-control {
    position: absolute;
    z-index: 5;
    top: 20px;
    @media screen and (max-width: $break-mobile) {
        top: 60px;
    }
    left: 20px;
    button {
        display: block;
        min-width: 20px;
        margin-bottom: 2px;
        width: 30px;
        padding: 0px;
        height: 30px;
        line-height: 30px;
    }
    .zoom {
        font-size: 16px;
    }
    .deactivated {
        opacity: 0.6;
        cursor: default;
    }
    .mat-button-wraper {
        line-height: 30px;
    }
    .vie-map-not-visible {
        color: #666666;
        background-color: white;
        border: solid #666666 1px;
    }
    .vie-map-toggle {
        margin-top: 15px;
        font-size: 22px;
    }
}

.nowebgl {
    width: 400px;
    padding-top: 20px;
    padding-left: 80px;
    box-sizing: border-box;
    padding-right: 20px;

    @media screen and (max-width: $break-mobile) {
        width: 100%;
        padding-top: 60px;
        padding-left: 80px;
        box-sizing: border-box;
        padding-right: 20px;
    }
}