@import '../../../../scss/_variables.scss';

.mapboxgl-map {
    width: 100%;
    height: 100%;
}


.nowebgl {
    width: 400px;
    padding-top: 20px;
    padding-left: 80px;
    box-sizing: border-box;
    padding-right: 20px;

    @media screen and (max-width: $break-mobile) {
        width: 100%;
        padding-top: 60px;
        padding-left: 80px;
        box-sizing: border-box;
        padding-right: 20px;
    }
}

.map-spinner {
    position: fixed;
    background: transparent url("../../../../assets/icons/cm-loading.svg");
    z-index: 1000;
    height: 64px;
    width: 64px;
    top: 110px;
    left: 78px;
}
.map-spinner .fa-spinner::before {
    content: none;
}