@import './../../../../scss/_variables.scss';

:host {
    display: block;
    padding: 8px 44px;
    @media screen and (max-width: $break-mobile) {
        padding: 24px 0px;
    }
    font-family: $text-italics-font;
    ::ng-deep em, ::ng-deep i {
	      font-family: $text-regular-font;
        font-style: normal;
    }
    color: $primary-font-color;
}
