@import './../../../../scss/_variables.scss';

:host {
    display: block;
    padding: 24px 80px;
    font-family: $text-regular-font;
    ::ng-deep em, ::ng-deep i {
	      font-family: $text-italics-font;
    }
    color: $secondary-font-color;
}
