@import "./cm-font/style.scss";

@font-face {
	font-family: Source Sans Pro;
    src: url(./assets/fonts/SourceSansPro-Regular.otf);
}

@font-face {
	font-family: Source Sans Pro Bold;
    src: url(./assets/fonts/SourceSansPro-Bold.otf);
}

@font-face {
	font-family: Source Sans Pro Semibold;
    src: url(./assets/fonts/SourceSansPro-Semibold.otf);
}

@font-face {
	  font-family: Source Sans Pro Bold Italic;
    src: url(./assets/fonts/SourceSansPro-BoldItalic.ttf);
}

@font-face {
	  font-family: Source Sans Pro Semibold Italic;
    src: url(./assets/fonts/SourceSansPro-SemiBoldItalic.ttf);
}

@font-face {
	  font-family: Source Serif Pro Regular;
    src: url(./assets/fonts/SourceSerifPro-Regular.otf);
}

@font-face {
	  font-family: Source Serif Pro Italics;
    src: url(./assets/fonts/SourceSerifPro-It.otf);
}

@font-face {
	  font-family: MW;
    src: url(./assets/fonts/Merriweather-Regular.ttf);
}
