@font-face {
    font-family: Source Sans Pro;
    src: url(./assets/fonts/SourceSansPro-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
	  font-family: Source Sans Pro Italic;
    src: url(./assets/fonts/SourceSansPro-It.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Source Sans Pro Bold;
    src: url(./assets/fonts/SourceSansPro-Bold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
	  font-family: Source Sans Pro Bold Italic;
    src: url(./assets/fonts/SourceSansPro-BoldIt.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Source Sans Pro Semibold;
    src: url(./assets/fonts/SourceSansPro-Semibold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
	  font-family: Source Sans Pro Semibold Italic;
    src: url(./assets/fonts/SourceSansPro-SemiboldIt.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
	  font-family: Source Serif Pro Regular;
    src: url(./assets/fonts/SourceSerifPro-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
	  font-family: Source Serif Pro Italics;
    src: url(./assets/fonts/SourceSerifPro-It.otf);
    font-weight: 400;
    font-style: normal;
}
