$break-mobile: 959px;

$title-regular-font: "Source Sans Pro";
$title-italics-font: "Source Sans Pro Italic";
$title-bold-font: "Source Sans Pro Bold";
$title-bold-italic-font: "Source Sans Pro Bold Italic";
$title-semibold-font: "Source Sans Pro Semibold";
$title-semibold-italic-font: "Source Sans Pro Semibold Italic";

$text-regular-font: "Source Serif Pro Regular";
$text-italics-font: "Source Serif Pro Italics";

$caption-regular-font: "Source Sans Pro";
$caption-italics-font: "Source Sans Pro Italic";
$caption-semibold-font: "Source Sans Pro Semibold";
$caption-bold-font: "Source Sans Pro Bold";

$text-color: #333333;
$background-color: #5a5a5a;
$headline-color: #5a5a5a;
$clickable-color: #8c8c8c;
$text-light-color: #8c8c8c;
$background-light-color: #f4f4f4;
$accent-color: #a67481;

$header-color: $text-color;
$map-overlay-background-color: $background-color;
$map-overlay-inactive-color: $text-light-color;
$text-block-background-color: $background-light-color;

$h-primary-font-color: $headline-color;
$h-secondary-font-color: $text-light-color;
$primary-font-color: $text-color; // #4d4d4d in version 1.0
$secondary-font-color: $text-light-color;
$active-font-color: #fff;
$inactive-font-color: $background-light-color;
$main-color: $text-color;


$base-font-size: 20px;
$mobile-base-font-size: 18px;

$h-primary-font-size: 1.5rem;
$h-secondary-font-size: 1.2rem;
$small-font-size: 0.9rem;
$small2-font-size: 0.8rem;
$extra-small-font-size: 0.7rem;

$base-line-height: 1.5rem;
$small-line-height: 1.35rem;

$header-height: 3.3rem;
$header-height-mobile: 2.5rem;

$event-nav-height: $header-height;
$event-nav-height-mobile: $header-height-mobile;


