$title-regular-font: "Source Sans Pro";
$title-bold-font: "Source Sans Pro Bold";
$title-semibold-font: "Source Sans Pro Semibold";
$title-small-font: "Open Sans";
$text-regular-font: "Merriweather Regular";

$header-color: #333333;
$map-overlay-background-color: #666666;
$map-overlay-active-color: #fff;
$map-overlay-inactive-color: #a7a7a7;

$h-primary-font-color: #666666;
$h-secondary-font-color: #8e8e8e;
$primary-font-color: #4d4d4d;
$secondary-font-color: #a7a7a7;
$active-font-color: #fff;
$inactive-font-color: #d7d7d7;

$h-primary-font-size: 1.8rem;
$h-secondary-font-size: 1.1rem;
$large-font-size: 1.2rem;
$small-font-size: 0.8rem;

$header-height: 80px;
$info-header-height: 50px;
$map-overlay-height: 150px;
